<span class="OCM-title">Noticias referidas a {{ programa }} </span>

<div class="flex__cardTable">
	<app-card-table-news [filteredNews]="filteredNews"></app-card-table-news>
</div>

<!-- <table>
	<thead>
		<tr>
			<th>Fecha</th>
			<th>Título</th>
			<th>URL</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let news of filteredNews">
			<ng-container *ngIf="news.URL !== ''">
				<td>{{ news.date }}</td>
				<td>{{ news.medio }}</td>
				<td>{{ news.title }}</td>
				<td><a href="{{ news.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
			</ng-container>
		</tr>
	</tbody>
</table> -->
