<div>

    <div>
        <span *ngIf="!(hasRowClicked$ | async) as hasRowClicked" style=" font-size: 16px; color:red">
            Selecciona un fila y podras ver las diferentes opciones disponibles</span>
    </div>

    <div *ngIf="hasRowClicked$ | async as hasRowClicked" class="OCM-button--container">
        <button type="button" class="OCM-button" *ngFor="let button of buttonsAdditional" (click)="click($event)">
            {{button}}
        </button>
    </div>

    <div>
        <button type="button" class="OCM-button" *ngFor="let button of buttons" (click)="click($event)">
            {{button.name}}
        </button>
    </div>

</div>