<div>
    <h4 *ngIf="hasTitle" class="OCM-text--cabecera">Comparativa gastos {{
        messageYears }}</h4>

    <div>
        <span>Selecciona un fila y podras ver&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button *ngIf="hasGrafico" type="button" class="OCM-button" (click)="showGraph($event)"
            style="background: rgb(76, 90, 123);">
            Gráfico
        </button>

        <button *ngIf="hasDetallePrograma" type="button" class="OCM-button" style="background: rgb(76, 90, 123);"
            (click)="showProgramaDetalle($event)">
            Prográma
        </button>

        <button *ngIf="hasDetalleOrganico" type="button" class="OCM-button" (click)="showOrganicoDetalle($event)"
            style="background: rgb(76, 90, 123);">
            Orgánico
        </button>
    </div>

    <button type="button" class="OCM-button" *ngFor="let button of buttons" (click)="click(button, $event)">
        {{button.name}}
    </button>

    <button *ngIf="hasMenu" type="button" class="OCM-button" (click)="menu()">
        Menú
    </button>
</div>