<div class="OCM-container">
  <h2 class="OCM-title">Detalle del presupuesto</h2>

  <div class="selectYear">
    <app-checkbox [multiYears]="true" />
  </div>

  <app-table-presupuesto />
  @if (multiYears) {
    <div>
      <app-treemap />
    </div>
  }

  <app-tabs>
    @for (tab of tabs; track tab; let isFirst = $first) {
      <app-tab
        [title]="tab.title"
        [clasification]="tab.clasificationType"
        [active]="isFirst"
        [isFicha]="tab.isFicha"
        >
        <app-subtabs />
      </app-tab>
    }
  </app-tabs>
  <app-table />
</div>
