.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 200px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

.cardTableSeguimiento {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background: #f5f5f5;
	margin: 10px;
	height: 180px;

	&:nth-child(1) {
		width: 20%;
	}
	&:nth-child(2) {
		width: 50%;
	}
	&:nth-child(3) {
		width: 20%;
	}
}

.paleBlueRowsSeguimiento {
	tr {
		height: 20px;
	}

	td {
		&:nth-child(1) {
			width: 30%;
			text-align: center;
		}

		&:nth-child(2) {
			width: 70%;
			text-align: left;
		}
	}
}

.cardTableHomeData {
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background: #f5f5f5;
	margin: 10px 30px 30px 30px;

	&__title {
		display: flex;
		justify-content: center;
		color: rgba(1, 0, 3, 0.913);
		font-weight: 600;
		font-family: var(--fuente-principal);
		font-size: 2rem;
		margin-bottom: 10px;
		margin-left: 20px;
		line-height: 1.2;
	}
}

.paleBlueRowsData {
	width: 97%;
	height: 100%;
	text-align: center;
	border-collapse: collapse;
	margin: 0 20px; // Combina margin-left y margin-right

	tbody {
		text-align: left;

		td {
			font-size: 1.2rem;

			&:nth-child(1) {
				width: 20%;
				text-align: left;
			}

			&:nth-child(2) {
				width: 70%;
				text-align: left;
			}

			&:nth-child(3) {
				width: 10%;
				text-align: center;
			}
		}
	}

	tr:nth-child(even) {
		background: #dcf3bc;
	}
}
