<div class="OCM-dark-teme OCM-flex OCM-flex--center">
	<form [formGroup]="userForm" (ngSubmit)="guardar()">
		<fieldset class="OCM-Fieldset">
			<header class="OCM-subtitle-dark">Añadir documento en {{ tag }}</header>

			<label for="date" class="OCM-label-dark">Fecha</label>
			<input type="date" class="OCMInputDate" id="date" formControlName="date" />
			@if (userForm?.get('date')?.invalid && userForm?.get('date')?.touched) {
				<div class="OCM-alert">Fecha es requerida.</div>
			}

			<label for="emisor" class="OCM-label-dark">Emisor</label>
			<input type="text" class="OCMInputMedia" id="emisor" formControlName="emisor" />
			@if (userForm?.get('emisor')?.invalid && userForm?.get('emisor')?.touched) {
				<div class="OCM-alert">Emisor es requerido.</div>
			}

			<label for="title" class="OCM-label-dark">Titulo</label>
			<input type="text" class="OCMInputLong" id="title" formControlName="title" />
			@if (userForm?.get('title')?.invalid && userForm?.get('title')?.touched) {
				<div class="OCM-alert">Titulo es requerido.</div>
			}

			<label for="url_doc" class="OCM-label-dark">URL</label>
			<input type="text" class="OCMInputLong" id="url_doc" formControlName="url_doc" />
			@if (userForm?.get('url_doc')?.invalid && userForm?.get('url_doc')?.touched) {
				<div class="OCM-alert">URL es requerido.</div>
			}

			<button type="submit" [disabled]="!userForm.valid" class="OCM-button-container OCM-button">Grabar</button>
		</fieldset>
	</form>
</div>
