<main class="dark-teme">
	<header class="OCM-title-dark">{{ descripcion }}</header>

	<div class="flex">
		<div class="cardTableSeguimiento">
			<img src="{{ imgURL }}" alt="Foto proyecto" />
		</div>

		<div class="cardTableSeguimiento"></div>

		<div class="cardTableSeguimiento"></div>
	</div>

	<section class="tableCard">
		<table class="tableData">
			<tbody>
				<tr *ngFor="let data of data">
					<!-- Solo muestra las filas donde 'data.value' no está vacío y 'data.URL' no es una clave o está vacío -->
					<ng-container
						*ngIf="
							data.value !== '' &&
							(!hasKey(data, 'URL') || (hasKey(data, 'URL') && data.URL !== '')) &&
							data.data !== 'Descripción'
						"
					>
						<td>{{ data.data }}</td>
						<td>{{ data.value }}</td>
						<!-- Solo muestra la columna de enlace cuando 'data.URL' no está vacío -->
						<ng-container *ngIf="hasKey(data, 'URL') && data.URL !== ''">
							<td><a href="{{ data.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
						</ng-container>
					</ng-container>
				</tr>
			</tbody>
		</table>
	</section>

	<h1 class="OCM-subtitle-dark">Documentos</h1>

	<div class="cardTableHome">
		<table class="tableNews">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Emisor</th>
					<th>Título</th>
					<th>URL</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let doc of docs">
					<ng-container *ngIf="doc.URL !== ''">
						<td>{{ doc.date }}</td>
						<td>{{ doc.emisor }}</td>
						<td>{{ doc.title }}</td>
						<td><a href="{{ doc.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
					</ng-container>
				</tr>
			</tbody>
		</table>
	</div>

	<section class="tableCard">
		<header class="OCM-subtitle-dark">Noticias</header>
		<table class="tableNews">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Medio</th>
					<th>Título</th>
					<th>URL</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let new of news">
					<ng-container *ngIf="new.URL !== ''">
						<td>{{ new.date }}</td>
						<td>{{ new.medio }}</td>
						<td>{{ new.title }}</td>
						<td><a href="{{ new.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
					</ng-container>
				</tr>
			</tbody>
		</table>
	</section>
</main>
