<main class="OCM-dark-teme">
	<h1 class="OCM-title-dark">{{ descripcion }}</h1>
	<br />
	<br />

	<header class="OCM-subtitle-dark">Comentarios</header>

	<div class="OCM-tableContainer">
		<table class="OCM-table">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Emisor</th>
					<th>texto</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let com of coms">
					<td>{{ com.date }}</td>
					<td>{{ com.emisor }}</td>
					<td>{{ com.texto }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<header class="OCM-subtitle-dark">Noticias</header>

	<div class="OCM-tableContainer">
		<table class="OCM-table">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Medio</th>
					<th>Título</th>
					<th>URL</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let new of news">
					<ng-container *ngIf="new.URL !== ''">
						<td>{{ new.date }}</td>
						<td>{{ new.medio }}</td>
						<td>{{ new.title }}</td>
						<td><a href="{{ new.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
					</ng-container>
				</tr>
			</tbody>
		</table>
	</div>
</main>
