<div class="volver">
	<button type="button" class="OCM-button" (click)="volver()">Volver</button>
</div>

<h1 class="OCM-title">{{ descripcion }}</h1>

<div class="flex">
	<img src="{{ imgURL }}" alt="Foto proyecto" />
	<div class="cardTableSeguimiento">
		<table class="paleBlueRowsSeguimiento">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Etapa</th>
					<th>Completada</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let step of steps">
					<td>{{ step.date }}</td>
					<td>{{ step.step }}</td>
					<td>{{ step.isFinish }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<img class="indicador" src="./../../../../assets/licitaciones/grafico.jpg" alt="" />
</div>

<div class="cardTableHomeData">
	<table class="paleBlueRowsData">
		<!-- <thead>
				<tr>
					<th>Fecha</th>
					<th>Medio</th>
					<th>Título</th>
					<th>URL</th>
				</tr>
			</thead> -->
		<tbody>
			<tr *ngFor="let data of dataLicitacion">
				<ng-container *ngIf="data.data !== ''">
					<td>{{ data.data }}</td>
					<td></td>
					<td>{{ data.value }}</td>
					<ng-container *ngIf="hasKey(data, 'URL') && data.URL !== ''">
						<td><a href="{{ data.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
					</ng-container>
				</ng-container>
			</tr>
		</tbody>
	</table>
</div>

<h1 class="OCM-title">Noticias</h1>

<div class="cardTableHome">
	<table class="paleBlueRows">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Medio</th>
				<th>Título</th>
				<th>URL</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let new of news">
				<ng-container *ngIf="new.URL !== ''">
					<td>{{ new.date }}</td>
					<td>{{ new.medio }}</td>
					<td>{{ new.title }}</td>
					<td><a href="{{ new.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
				</ng-container>
			</tr>
		</tbody>
	</table>
</div>
