<body *ngIf="data" style="background-color: #15202b">
	<!-- <app-data-general [data]="data" /> -->

	<title>Ficha persona que ocupa el puesto</title>
	<section class="OCM-tableContainer">
		<h2 class="OCM-subtitle">Caracteristicas del puesto</h2>
		<table class="tableDataPersona">
			<tr>
				<th>Denominación</th>
				<th>Tipo</th>
				<th>RPT</th>
				<th>Observaciones</th>
			</tr>
			<tr>
				<td>{{ data.position }}</td>
				<td>{{ data.type }}</td>
				<td>
					<a href="{{ data['RPT-URL'] }}" target="_blank" rel="nofollow" aria-label="Ayto"> link </a>
				</td>
				<td>Los puestos políticos no se detallan en la RPT</td>
			</tr>
		</table>
	</section>

	<!-- <section style="font-size: 14px">
		<h1>Descripción del puesto: diferencias entre puesto y plaza.</h1>
		<h1>
			Datos no recogidos en ficha puesto RPT. Forma de acceso al puesto: oposición, concurso, libre designación, etc.
		</h1>
		<h1>¿A quién reporta?</h1>
		<h1>Grafico de evolución de sueldo asignado al puesto</h1>
	</section> -->

	<section class="OCM-tableContainer">
		<h2 class="OCM-subtitle">Persona que actualmente ocupa el puesto</h2>
		<table class="tableDataPersona">
			<tr>
				<th>Foto</th>
				<th>Nombre</th>
				<th>Sueldo</th>
				<th>WEB Ayto</th>
				<th>CV</th>
				<th>Declaración de bienes</th>
				<th>Contacto publicado</th>
				<th>linkedin</th>
			</tr>
			<tr>
				<td>
					<img style="border-radius: 50%; width: 100px" src="{{ data.person.image }}" alt="foto" />
				</td>

				<td>{{ name }}</td>
				<td>
					{{ data.person.salary }}
					<a href="{{ data.positions[0].URL }}" target="_blank" rel="nofollow" aria-label="Ayto">Link</a>
				</td>
				<td>
					<a href="{{ data.person['Ayto-URL'] }}" target="_blank" rel="nofollow" aria-label="Ayto">link</a>
				</td>
				<td>{{ data.person.CV }}</td>
				<td>{{ data.person.assets }}</td>
				<td>{{ data.person.contact }}</td>
				<td>
					<!-- <a
						href="https://transparencia.jerez.es/infopublica/institucional/corporacion/2023-2027/maria-jose-garcia-pelayo"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>Linkedin</a
					> -->
				</td>
			</tr>
		</table>
	</section>

	<section class="OCM-tableContainer">
		<h2 class="OCM-subtitle">Cargos que compatibiliza la persona que ocupa el puesto</h2>
		<table class="tableDataPersona">
			<tr>
				<th>Cargo</th>
				<th>LINK</th>
				<th>Sueldo</th>
				<th>Observaciones</th>
			</tr>
			<tr>
				<td>{{ data.positions[0].position }}</td>

				<td>
					<a href="{{ data.positions[0].URL }}" target="_blank" rel="nofollow" aria-label="Ayto">Link</a>
				</td>
				<td>
					{{ data.positions[0].salary }}
					<!-- <a
						href="https://transparentia.newtral.es/ficha/maria-jose-garcia-pelayo-jurado"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>link</a
					> -->
				</td>
				<td></td>
			</tr>
			<tr>
				<td>{{ data.positions[1].position }}</td>

				<td>
					<a href="{{ data.positions[1].URL }}" target="_blank" rel="nofollow" aria-label="Ayto"></a>
				</td>
				<td>
					{{ data.positions[1].salary }}
					<!-- <a
						href="https://transparentia.newtral.es/ficha/maria-jose-garcia-pelayo-jurado"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>link</a
					> -->
				</td>
				<td></td>
			</tr>
		</table>
	</section>

	<section class="OCM-tableContainer">
		<h2 class="OCM-subtitle">Personas que han ocupado el puesto</h2>
		<table class="tableDataPersona">
			<!-- <tr>
				<th>Periodo</th>
				<th>Persona</th>
				<th>Sueldo</th>
				<th>Wikipedia</th>
			</tr>
			<tr>
				<td>2023-</td>
				<td>Mª Jose Garcia Pelayo</td>
				<td>102.793,49</td>

				<td>
					<a
						href="https://es.wikipedia.org/wiki/Mar%C3%ADa_Jos%C3%A9_Garc%C3%ADa-Pelayo_Jurado"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>link</a
					>
				</td>
			</tr> -->
			<tr>
				<td>{{ data.records.date }}</td>
				<td>{{ data.records.name }} {{ data.records.firstName }} {{ data.records.lastName }}</td>
				<td>{{ data.records.salary }}</td>
				<td>
					<!-- <a
						href="https://es.wikipedia.org/wiki/Mar%C3%ADa_Jos%C3%A9_Garc%C3%ADa-Pelayo_Jurado"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>link</a
					> -->
				</td>
			</tr>
		</table>
	</section>
</body>
