<div class="flex-container" style=" background: white;">
    <div class="container">
        <h2 class="OCM-title">Detalle del presupuesto</h2>
        <span class="OCM-subtitle">Datos ejecución presupuesto al 2 de noviembre de 2022</span>
        <div class="tab-wrap">

            <!-- active tab on page load gets checked attribute -->
            <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
            <label for="tab1">Ingresos</label>

            <input type="radio" id="tab2" name="tabGroup1" class="tab">
            <label for="tab2">¿En qué se gasta?</label>

            <input type="radio" id="tab3" name="tabGroup1" class="tab">
            <label for="tab3">¿Quién lo gasta?</label>

            <input type="radio" id="tab4" name="tabGroup1" class="tab">
            <label for="tab4">¿Para qué se gasta?</label>

            <!-- Tab Ingresos -->
            <div class="tab__content">

                <div class="flex-container" style=" height: 600px;background-image: url('../../assets/img/Civio/graficoIngresos.png'); 
                background-size:1200px 600px;background-position: center center; background-repeat: no-repeat;">
                </div>

                <!-- Selector año -->
                <div id="form-wrapper">
                    <form action="/p/quote.php" method="GET">
                        <h1 id="form-title">AÑO</h1>
                        <div id="debt-amount-slider">
                            <input type="radio" name="debt-amount" id="1" value="1" required>
                            <label for="1" data-debt-amount="2015"></label>
                            <input type="radio" name="debt-amount" id="2" value="2" required>
                            <label for="2" data-debt-amount="2016"></label>
                            <input type="radio" name="debt-amount" id="3" value="3" required>
                            <label for="3" data-debt-amount="2017"></label>
                            <input type="radio" name="debt-amount" id="4" value="4" required>
                            <label for="4" data-debt-amount="2018"></label>
                            <input type="radio" name="debt-amount" id="5" value="5" required>
                            <label for="5" data-debt-amount="2019"></label>
                            <input type="radio" name="debt-amount" id="6" value="6" required>
                            <label for="6" data-debt-amount="2020"></label>
                            <input type="radio" name="debt-amount" id="7" value="7" required>
                            <label for="7" data-debt-amount="2021"></label>
                            <input type="radio" name="debt-amount" id="8" value="8" required>
                            <label for="8" data-debt-amount="2022"></label>
                            <div id="debt-amount-pos"></div>
                        </div>
                    </form>
                    <!-- <button type="submit">Get Debt Free!</button> -->
                </div>

                <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">2022 (Hasta
                                octubre)</th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">318.711.288</td>
                            <td style="text-align: right; font-size: 32px;">149.416.437</td>
                        </tr>
                    </tbody>
                </table>

                <!-- AG-Grid -->
                <app-compara-ing *ngIf="showComponentIngresos" (clickDetail)="clickDetail()" [fieldsHide]="[
                                   'Iniciales', 
                                   'Modificaciones',
                                   'DerechosReconocidos',
                                   'DerechosAnulados',
                                   'DerechosCancelados',
                                   'RecaudacionNeta',
                                   'DerechosPendienteCobro',
                                   'DiferenciaPrevision'
                                   ]">
                </app-compara-ing>
            </div>

            <!-- Tab ¿En qué se gasta?  -->
            <div class="tab__content">
                <div class="flex-container" style=" height: 600px;background-image: url('../../assets/img/Civio/graficoEnQueSeGasta.png'); 
                background-size:1200px 600px;background-position: center center; background-repeat: no-repeat;">
                </div>

                <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">2022 (Hasta
                                octubre)</th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">318.711.288</td>
                            <td style="text-align: right; font-size: 32px;">149.416.437</td>
                        </tr>
                    </tbody>
                </table>

                <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">ARTÍCULO
                            </th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">242.128.125</td>
                            <td style="text-align: right; font-size: 32px;">142.028.325</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Tab ¿Quién lo gasta?  -->
            <div class="tab__content">
                <div class="flex-container" style=" height: 600px;background-image: url('../../assets/img/Civio/graficoQuienGasta.png'); 
                background-size:1200px 600px;background-position: center center; background-repeat: no-repeat;">
                </div>

                <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">2022 (Hasta
                                octubre)</th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">318.711.288</td>
                            <td style="text-align: right; font-size: 32px;">149.416.437</td>
                        </tr>
                    </tbody>
                </table>

                <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">ORGÁNICO
                            </th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">242.128.125</td>
                            <td style="text-align: right; font-size: 32px;">142.028.325</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Tab ¿Para qué gasta?  -->
            <div class="tab__content">
                <div class="flex-container" style=" height: 600px;background-image: url('../../assets/img/Civio/graficoParaQueSeGasta.png'); 
                background-size:1200px 600px;background-position: center center; background-repeat: no-repeat;">
                </div>

                <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">2022 (Hasta
                                octubre)</th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">242.128.125</td>
                            <td style="text-align: right; font-size: 32px;">142.028.325</td>
                        </tr>
                    </tbody>
                </table>

                <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">POLÍTICA DE
                                GASTO
                            </th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">242.128.125</td>
                            <td style="text-align: right; font-size: 32px;">142.028.325</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>