<div class="flex-container">
    <div class="container">
        <h2 class="OCM-title">Detalle del presupuesto</h2>
        <span class="OCM-subtitle">Datos ejecución presupuesto al 2 de noviembre de 2022</span>

        <!-- Seleccion año a mostrar -->
        <div id="form-wrapper">
            <app-checkbox [multiYears]=false></app-checkbox>
        </div>

        <!-- Tabla totales -->
        <table class="paleBlueRows">
            <thead>
                <tr>
                    <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">2022 (Hasta
                        octubre)</th>
                    <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                    <th style="width: 200px;font-size: 20px">INGRESADO</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td style="text-align: left; font-size: 32px;">TOTAL</td>
                    <td style="text-align: right; font-size: 32px;">{{ totalPresupuestado }}</td>
                    <td style="text-align: right; font-size: 32px;">{{ totalRecaudado }}</td>
                </tr>
            </tbody>
        </table>


        <div #itemElement class="tab-wrap">
            <input type="radio" id="tab1" name="tabGroup1" class="tab" checked (change)="checkedTab($event)">
            <label for="tab1">Ingresos</label>

            <input type="radio" id="tab2" name="tabGroup1" class="tab" (change)="checkedTab($event)">
            <label for="tab2">¿En qué se gasta?</label>

            <input type="radio" id="tab3" name="tabGroup1" class="tab" (change)="checkedTab($event)">
            <label for="tab3">¿Quién lo gasta?</label>

            <input type="radio" id="tab4" name="tabGroup1" class="tab" (change)="checkedTab($event)">
            <label for="tab4">¿Para qué se gasta?</label>

            <!-- Tab Ingresos -->
            <div class="tab__content">

                <div class="col-6">
                    <div id="treemap"></div>
                </div>

                <!-- AG-Grid -->
                <div style="margin-top: 40px;">
                    <app-table-ingresos *ngIf="showComponentIngresos" (clickDetail)="clickDetail()" [fieldsHide]="[
                                   'Iniciales', 
                                   'Modificaciones',
                                   'DerechosReconocidos',
                                   'DerechosAnulados',
                                   'DerechosCancelados',
                                   'RecaudacionNeta',
                                   'DerechosPendienteCobro'
                                    ]" [buttonsHide]="[
                                    'menu',
                                    'grafico',
                                    'graphTree']" [hasTitle]=false [cellRenderer]=false>
                    </app-table-ingresos>
                </div>
            </div>

            <!-- Tab ¿En qué se gasta? Clasificacion económica -->
            <div class="tab__content">
                <div class="flex-container" style=" height: 600px;background-image: url('../../assets/img/Civio/graficoEnQueSeGasta.png'); 
                background-size:1200px 600px;background-position: center center; background-repeat: no-repeat;">
                </div>

                <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">2022 (Hasta
                                octubre)</th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">318.711.288</td>
                            <td style="text-align: right; font-size: 32px;">149.416.437</td>
                        </tr>
                    </tbody>
                </table>

                <!-- <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">ARTÍCULO
                            </th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">242.128.125</td>
                            <td style="text-align: right; font-size: 32px;">142.028.325</td>
                        </tr>
                    </tbody>
                </table> -->

                <app-gastos *ngIf="showGastosPrograma"></app-gastos>

            </div>

            <!-- Tab ¿Quién lo gasta?  -->
            <div class="tab__content">
                <div class="flex-container" style=" height: 600px;background-image: url('../../assets/img/Civio/graficoQuienGasta.png'); 
                background-size:1200px 600px;background-position: center center; background-repeat: no-repeat;">
                </div>

                <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">2022 (Hasta
                                octubre)</th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">318.711.288</td>
                            <td style="text-align: right; font-size: 32px;">149.416.437</td>
                        </tr>
                    </tbody>
                </table>

                <!-- <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">ORGÁNICO
                            </th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">242.128.125</td>
                            <td style="text-align: right; font-size: 32px;">142.028.325</td>
                        </tr>
                    </tbody>
                </table> -->

                <app-gastos *ngIf="showGastosOrganico"></app-gastos>

            </div>

            <!-- Tab ¿Para qué gasta?  -->
            <div class="tab__content">
                <div class="flex-container" style=" height: 600px;background-image: url('../../assets/img/Civio/graficoParaQueSeGasta.png'); 
                background-size:1200px 600px;background-position: center center; background-repeat: no-repeat;">
                </div>

                <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">2022 (Hasta
                                octubre)</th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">242.128.125</td>
                            <td style="text-align: right; font-size: 32px;">142.028.325</td>
                        </tr>
                    </tbody>
                </table>

                <!-- <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th style="width: 1000px;font-size: 20px; text-align: left; margin-left: 40px;">POLÍTICA DE
                                GASTO
                            </th>
                            <th style="width: 200px;height: 60px;font-size: 20px">PRESUPUESTADO</th>
                            <th style="width: 200px;font-size: 20px">INGRESADO</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td style="text-align: left; font-size: 32px;">TOTAL</td>
                            <td style="text-align: right; font-size: 32px;">242.128.125</td>
                            <td style="text-align: right; font-size: 32px;">142.028.325</td>
                        </tr>
                    </tbody>
                </table> -->

                <app-gastos *ngIf="showGastosEconomica"></app-gastos>

            </div>
        </div>

    </div>
</div>