<div class="flex-container">
    <div class="container">
        <div class="datosAnuales">
            <h2 class="OCM-title">Detalle del presupuesto</h2>
            <span class="OCM-subtitle">Datos ejecución presupuesto al 2 de noviembre de 2022</span>

            <!-- Seleccion año a mostrar -->
            <div class="selectYear">
                <app-checkbox [multiYears]=false></app-checkbox>
            </div>

            <!-- Tabla totales -->
            <table class="paleBlueRows">
                <thead>
                    <tr>
                        <th style=" width: 300px">2022 (Hasta octubre)</th>
                        <th>PRESUPUESTADO</th>
                        <th>RECAUDADO</th>
                        <th>GASTADO</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>TOTAL</td>
                        <td>{{ totalPresupuestado }}</td>
                        <td>{{ totalRecaudado }}</td>
                        <td>{{ totalGastado }}</td>
                    </tr>
                </tbody>
            </table>
        </div>




        <div #itemElement class="tab-wrap">
            <input type="radio" id="tab1" name="tabGroup1" class="tab" [checked]="showComponentIngresos"
                (change)="checkedTab($event)">
            <label for="tab1">Ingresos</label>

            <input type="radio" id="tab2" name="tabGroup1" class="tab" [checked]="showGastosPrograma"
                (change)="checkedTab($event)">
            <label for="tab2">¿En qué se gasta?</label>

            <input type="radio" id="tab3" name="tabGroup1" class="tab" [checked]="showGastosOrganico"
                (change)="checkedTab($event)">
            <label for="tab3">¿Quién lo gasta?</label>

            <input type="radio" id="tab4" name="tabGroup1" class="tab" [checked]="showGastosEconomica"
                (change)="checkedTab($event)">
            <label for="tab4">¿Para qué se gasta?</label>

            <!-- <button (click)="test()"
                style="background-color: green; width: 180px; height: 100px; color: white">test</button> -->

            <!-- Tab Ingresos -->
            <div class="tab__content">

                <div class="radioButtonsGroup">
                    <div class="radio">
                        <input id="radio-1" name="radio" type="radio" checked (change)="checkedRadio($event)">
                        <label for="radio-1" class="radio-label">Presupuestado</label>
                    </div>

                    <div class="radio">
                        <input id="radio-2" name="radio" type="radio" (change)="checkedRadio($event)">
                        <label for="radio-2" class="radio-label">Recaudado</label>
                    </div>

                    <div class="radio">
                        <input id="radio-3" name="radio" type="radio" (change)="checkedRadio($event)">
                        <label for="radio-3" class="radio-label">Diferencia</label>
                    </div>

                </div>

                <div id="treemap1"></div>

                <!-- AG-Grid -->
                <div style="margin-top: 40px;">
                    <app-table-ingresos *ngIf="showComponentIngresos" (clickDetail)="clickDetail()" [fieldsHide]="[
                                   'Iniciales', 
                                   'Modificaciones',
                                   'DerechosReconocidos',
                                   'DerechosAnulados',
                                   'DerechosCancelados',
                                   'RecaudacionNeta',
                                   'DerechosPendienteCobro'
                                    ]" [buttonsHide]="[
                                    'menu',
                                    'grafico',
                                    'graphTree']" [hasTitle]=false [cellRenderer]=false>
                    </app-table-ingresos>
                </div>
            </div>

            <!-- Tab ¿En qué se gasta? Clasificacion económica -->
            <div class="tab__content">
                <div id="treemap2"></div>
                <app-gastos *ngIf="showGastosPrograma"></app-gastos>
            </div>

            <!-- Tab ¿Quién lo gasta?  -->
            <div class="tab__content">
                <div id="treemap3"></div>
                <app-gastos *ngIf="showGastosOrganico"></app-gastos>
            </div>

            <!-- Tab ¿Para qué gasta?  -->
            <div class="tab__content">
                <div id="treemap4"></div>
                <app-gastos *ngIf="showGastosEconomica"></app-gastos>
            </div>
        </div>


    </div>
</div>