.tabs-tab {
    // flex: auto;
    // display: flex;
    // width: 100%;
    // overflow: hidden;
    // scroll-behavior: smooth;

    .tabs-content {
        display: inline-flex;
        justify-content: space-evenly;
        width: 100%;

        .tabs-header-tab {
            min-width: 110px;
            white-space: nowrap;
            padding: 15px;
            cursor: pointer;
            color: black;
            font-weight: 500;
            font-size: 20px;
            &--selected {
                border-bottom: 8px solid blue;
                color: blue;
                background-color: burlywood;
            }
            &__title {
                // background-color: burlywood;
            }
        }
    }
}
