<header class="OCM-subtitle-dark">Documentos</header>
<section class="OCM-tableContainer">
	<table class="OCM-tableDocumentos">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Emisor</th>
				<th>Título</th>
				<th>URL</th>
			</tr>
		</thead>
		<tbody>
			@for (doc of docs; track doc) {
				<tr>
					@if (doc.url !== '') {
						<td>{{ doc.date }}</td>
						<td>{{ doc.emisor }}</td>
						<td>{{ doc.title }}</td>
						<td><a href="{{ doc.url_doc }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
					}
				</tr>
			}
		</tbody>
	</table>
</section>
