<header class="OCM-title-dark">Comisiones de Pleno permanentes</header>

<main class="OCM-flex">
	<section class="OCM-flex__cardMenu" *ngFor="let menu of comisionesPermanentes" [style.background]="menu.background">
		<app-card-menu [titulo]="menu.titulo" (click)="menu.funcion()" />
	</section>
</main>
<br />
<br />

<header class="OCM-title-dark">Comisiones de Pleno especiales</header>

<main class="OCM-flex">
	<section class="OCM-flex__cardMenu" *ngFor="let menu of comisionesEspeciales" [style.background]="menu.background">
		<app-card-menu [titulo]="menu.titulo" (click)="menu.funcion()" />
	</section>
</main>
```
