<div class="graph" *ngIf="options">
    <div class="menu">
        <button type="button" (click)="volver()">Volver</button>
    </div>

    <div>
        <ag-charts-angular *ngIf="options" style="width: 700px; height: 300px" [options]="options"></ag-charts-angular>
    </div>

    <div>
        <ag-grid-angular #agGrid style="width: 700px; height: 300px; padding-right: 20px; margin-left: 10px"
            class="ag-theme-balham" [rowData]="data" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
            rowSelection="multiple" [groupIncludeFooter]="true" [groupIncludeTotalFooter]="true"
            [groupHeaderHeight]="groupHeaderHeight" [headerHeight]="headerHeight" [localeText]="localeText"
            [suppressAggFuncInHeader]="true">
        </ag-grid-angular>
    </div>

</div>