<div class="tab-wrap" style="background-color: #d6a2a2; padding-top: 20px">
    <input
        type="radio"
        id="tab1"
        name="tabGroup1"
        class="tab"
        [checked]="showIngresos"
        (change)="checkedTab($event)"
    />
    <label for="tab1">Ingresos</label>

    <input
        type="radio"
        id="tab2"
        name="tabGroup1"
        class="tab"
        [checked]="showPrograma"
        (change)="checkedTab($event)"
    />
    <label for="tab2">¿En qué se gasta?</label>

    <input
        type="radio"
        id="tab3"
        name="tabGroup1"
        class="tab"
        [checked]="showOrganico"
        (change)="checkedTab($event)"
    />
    <label for="tab3">¿Quién lo gasta?</label>

    <input
        type="radio"
        id="tab4"
        name="tabGroup1"
        class="tab"
        [checked]="showEconomica"
        (change)="checkedTab($event)"
    />
    <label for="tab4">¿Para qué se gasta?</label>
</div>
