<main class="OCM-dark-teme">
	<header class="OCM-title-dark">Plenos.</header>

	<section class="OCM-flex">
		<section *ngFor="let menu of cardMenus" [style.background]="menu.background">
			<app-card-menu [titulo]="menu.titulo" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
		</section>
	</section>
	```
	<section class="OCM-tableContainer">
		<header class="OCM-subtitle-dark">Documentos</header>
		<table class="OCM-table">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Emisor</th>
					<th>Título</th>
					<th>URL</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let doc of docs">
					<ng-container *ngIf="doc.URL !== ''">
						<td>{{ doc.date }}</td>
						<td>{{ doc.emisor }}</td>
						<td>{{ doc.title }}</td>
						<td><a href="{{ doc.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
					</ng-container>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="OCM-tableContainer">
		<header class="OCM-subtitle-dark">Noticias</header>
		<table class="OCM-table">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Medio</th>
					<th>Título</th>
					<th>URL</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let new of news">
					<ng-container *ngIf="new.URL !== ''">
						<td>{{ new.date }}</td>
						<td>{{ new.medio }}</td>
						<td>{{ new.title }}</td>
						<td><a href="{{ new.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
					</ng-container>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="OCM-tableContainer">
		<header class="OCM-subtitle-dark">Comentarios</header>
		<table class="OCM-table">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Emisor</th>
					<th>texto</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let com of coms">
					<td>{{ com.date }}</td>
					<td>{{ com.emisor }}</td>
					<td>{{ com.texto }}</td>
				</tr>
			</tbody>
		</table>
	</section>
</main>
