@media screen and (max-width: 4200px) {
	.cardMenu {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50% 50%;
		height: 100%;
		border: 1px solid rgb(211, 214, 194);
		border-radius: 10px;
		background-color: #4d4e50;
		&:hover {
			box-shadow: 0 16px 32px 0 rgba(151, 4, 4, 0.82);
			cursor: pointer;
		}
		&__image {
			padding: 10px;
			width: 98%;
			height: 100%;
			border-radius: 20px;
		}
		&__title {
			color: rgba(237, 235, 240, 0.913);
			// https://modern-fluid-typography.vercel.app?rootFontSize=12&minSize=8&fluidSize=1&relativeSize=0.5&maxSize=20
			font-size: clamp(0.1rem, 2vw + 0.5rem, 1.667rem);
			padding: 10px;
		}
	}
}

@media screen and (max-width: 570px) {
	.cardMenu {
		grid-template-rows: 40% 60%;
		&__image {
			border-radius: 10px;
			padding: 4px;
		}
		&__title {
			padding: 4px;
		}
	}
}
