.cardMenu {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50% 20% 30%;
	justify-items: center;
	gap: 2px 2px;
	height: 250px;
	border: 1px solid rgb(211, 214, 194);
	border-radius: 10px;
	&:hover {
		box-shadow: 0 16px 32px 0 rgba(151, 4, 4, 0.82);
		cursor: pointer;
	}
	&__image {
		padding: 10px;
		height: 100%;
		border-radius: 20px;
		width: 98%;
	}
	&__title {
		color: rgba(237, 235, 240, 0.913);
		font-weight: 600;
		font-family: var(--fuente-principal);
		font-size: 1.6rem;
		margin-top: 20px;
	}
	&__subtitle {
		font-weight: 300;
		font-family: var(--fuente-principal);
		color: white;
		font-size: 1.2rem;
		padding: 0px 10px 0px 10px;
	}
}
