<!-- https://www.cssportal.com/css-flexbox-generator/ -->
<h2 class="OCM-title">Visión Global</h2>

<div class="flex-container">
    <div class="flex-items">
        <app-card-indice
            [indice]="'1.'"
            [title]="'La recaudación local'"
            [footer]="
                '  Se realiza a través de impuestos directos, como el impuesto de bienes
        inmuebles (IBI) o el de vehículos de tracción mecánica (IVTM), y de
        tasas.'
            "
        >
        </app-card-indice>
    </div>

    <div class="flex-items">
        <app-card-indice
            [indice]="'2.'"
            [title]="'Otras fuentes de ingresos'"
            [footer]="
                'El dinero recaudado localmente se complementa con las
        transferencias de la Administración General del Estado y de la Junta de
        Andalucía, que son las encargadas de recaudar otros ingresos como el IVA
        y el IRPF.'
            "
        >
        </app-card-indice>
    </div>

    <div class="flex-items">
        <app-card-indice
            [indice]="'3.'"
            [title]="'Gastos'"
            [footer]="
                '
            El ayuntamiento utiliza el dinero recaudado, junto con otras
            fuentes de financiación como la deuda, para mantener los
            servicios públicos y la infraestructura de la ciudad.'
            "
        >
        </app-card-indice>
    </div>
</div>

<div class="graph2">
    <div id="sankey"></div>
    <div id="sankey1"></div>
</div>

<app-checkbox [multiYears]="false"></app-checkbox>

<h3 class="datosPresupuestarios">Datos presupuestarios año seleccionado</h3>

<div class="flex-containerTables">
    <table class="paleBlueRows">
        <thead>
            <tr>
                <th></th>
                <th>INGRESOS</th>
                <th>GASTOS</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>TOTAL PRESUPUESTADO</td>
                <td>{{ totalPresupuestoIngresos }}</td>
                <td>{{ totalPresupuestoGastos }}</td>
            </tr>
            <tr>
                <td>
                    TOTAL EJECUTADO <span>(ejecución al {{ liqDate }})</span>
                </td>
                <td>{{ totalEjecutadoIngresos }}</td>
                <td>{{ totalEjecutadoGastos }}</td>
            </tr>
            <tr>
                <td>Subtotal no financiero <span> Capítulos 1 a 7</span></td>
                <td>{{ noFinancieroIngresos }}</td>
                <td>{{ noFinancieroGastos }}</td>
            </tr>
            <tr>
                <td>Subtotal corriente<span> Capítulos 1 a 5</span></td>
                <td>{{ corrientesIngresos }}</td>
                <td>{{ corrientesGastos }}</td>
            </tr>
            <tr>
                <td>Subtotal de capital<span> Capítulos 6 y 7</span></td>
                <td>{{ capitalIngresos }}</td>
                <td>{{ capitalGastos }}</td>
            </tr>
            <tr>
                <td>Subtotal financiero<span> Capítulos 8 y 9</span></td>
                <td>{{ financierosIngresos }}</td>
                <td>{{ financierosGastos }}</td>
            </tr>
        </tbody>
    </table>

    <table class="paleBlueRows">
        <thead>
            <tr>
                <th>INDICADORES PRESUPUESTARIOS</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    AHORRO BRUTO
                    <span> Ingresos corrientes - gastos corrientes</span>
                </td>
                <td>{{ ahorroBruto }}</td>
            </tr>
            <tr>
                <td>
                    AHORRO NETO
                    <span style="font-size: 14px; margin-left: 10px">
                        Ahorro neto - capitulo 9 de gastos</span
                    >
                </td>
                <td>{{ ahorroNeto }}</td>
            </tr>
            <tr>
                <td>
                    CAPACIDAD/NECESIDAD DE FINANCIACIÓN
                    <span>
                        Ingresos no financieros - gastos no financieros</span
                    >
                </td>
                <td>{{ capacidadFinanciacion }}</td>
            </tr>
        </tbody>
    </table>
</div>
