<div class="OCM-indice">
    <hr style="color:white">

    <app-checkbox></app-checkbox>
    <div class="OCM-comment">
        Los datos del año 2022 corresponden a la ejecución al {{liqDate}}
    </div>

    <div class="OCM-containerNew">
        <!-- <div class="OCM-espacio">espacio</div> -->
        <div class="OCM-ingresos">Ingresos</div>
        <!-- <div class="OCM-economicaIngreso">Clasificación económica</div> -->

        <div class="OCM-economicaIngreso">
            <div (click)="openTable('ingresosEconomicaCapitulos')" class="OCM-card1">
                <span class="OCM-economica">Clasificación económica</span>
            </div>
        </div>




        <!-- <div class="OCM-capitulo">
            <div (click)="openTable('ingresosEconomicaCapitulos')" class="OCM-card">
                <span class="OCM-card__title">Por capítulos</span>
            </div>
        </div>
        <div class="OCM-articulo">
            <div (click)="openTable('ingresosEconomicaArticulos')" class="OCM-card">
                <span class="OCM-card__title">Por articulo</span>
            </div>
        </div>
        <div class="OCM-concepto">
            <div (click)="openTable('ingresosEconomicaConceptos')" class="OCM-card">
                <span class="OCM-card__title">Por concepto</span>
            </div>
        </div>
        <div (click)="openTable('ingresosEconomicaEconomicos')" class="OCM-subconcepto">
            <div class="OCM-card">
                <span class="OCM-card__title">Por económico</span>
            </div>
        </div> -->

        <!-- <div class="OCM-espacio1"></div> -->

        <div class="OCM-gastos">Gastos</div>
        <div class="OCM-organica">Clasificación orgánica</div>
        <div class="OCM-programas">Clasificación por programas</div>
        <div class="OCM-economica">Clasificación económica</div>
        <div class="OCM-organico">
            <div (click)="openTable('gastosOrganicaOrganicos')" class="OCM-card" style="margin-left: 4rem">
                <span class="OCM-card__title">Por orgánico</span>
            </div>
        </div>

        <div class="OCM-area">
            <div (click)="openTable('gastosProgramaAreas')" class="OCM-card">
                <span class="OCM-card__title">Por área</span>
            </div>
        </div>
        <div (click)="openTable('gastosProgramaPoliticas')" class="OCM-politica">
            <div class="OCM-card">
                <span class="OCM-card__title">Por política</span>
            </div>
        </div>
        <div (click)="openTable('gastosProgramaGrupos')" class="OCM-grupo">
            <div class="OCM-card">
                <span class="OCM-card__title">Por grupo programas</span>
            </div>
        </div>
        <div (click)="openTable('gastosProgramaProgramas')" class="OCM-programa">
            <div class="OCM-card">
                <span class="OCM-card__title">Por programa</span>
            </div>
        </div>
        <div (click)="openTable('gastosEconomicaCapitulos')" class="OCM-capitulo1">
            <div class="OCM-card">
                <span class="OCM-card__title">Por capítulos</span>
            </div>
        </div>
        <div (click)="openTable('gastosEconomicaArticulos')" class="OCM-articulo1">
            <div class="OCM-card">
                <span class="OCM-card__title">Por articulo</span>
            </div>
        </div>
        <div (click)="openTable('gastosEconomicaConceptos')" class="OCM-concepto1">
            <div class="OCM-card">
                <span class="OCM-card__title">Por concepto</span>
            </div>
        </div>
        <div (click)="openTable('gastosEconomicaEconomicos')" class="OCM-subconcepto1">
            <div class="OCM-card">
                <span class="OCM-card__title">Por económico</span>
            </div>
        </div>

    </div>

    <br>

    <div (click)="newGastos('gastosOrganicaOrganicos')" class="OCM-subconcepto1">
        <div class="OCM-card">
            <span class="OCM-card__title">Por orgánico</span>
        </div>
    </div>

    <div (click)="newGastos('gastosProgramaAreas')" class="OCM-subconcepto1">
        <div class="OCM-card">
            <span class="OCM-card__title">Por área</span>
        </div>
    </div>

</div>