<!-- <ng-container *ngIf="isLicitacion"> -->
<section class="OCM-flexEstadoLicitacion">
	<figure class="OCM-containerEstadoLicitacion">
		<img src="{{ imgURL }}" alt="Foto proyecto" />
	</figure>

	<div class="OCM-containerEstadoLicitacion">
		<table class="OCM-tableEstadoLicitacion">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Etapa</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let step of steps">
					<td>{{ step.date | date : 'd-MM-yyyy' }}</td>
					<td>{{ step.step }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="OCM-containerEstadoLicitacion">
		<img src="{{ gauge }}" alt="" />
	</div>
</section>
<!-- </ng-container> -->
