<main class="OCM-dark-teme">
	<header *ngIf="!isLicitacion" class="OCM-title-dark">{{ descripcion }} usando level-last</header>
	<header *ngIf="isLicitacion" class="OCM-subtitle-dark">{{ descripcion }} usando level-last</header>

	<ng-container *ngIf="isLicitacion">
		<section class="OCM-flexEstadoLicitacion">
			<div class="OCM-ContainerEstadoLicitacion">
				<img src="{{ imgURL }}" alt="Foto proyecto" />
			</div>

			<div class="OCM-ContainerEstadoLicitacion">
				<table class="OCM-tablEstadoLicitacion">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Etapa</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let step of steps">
							<td>{{ step.date }}</td>
							<td>{{ step.step }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="OCM-ContainerEstadoLicitacion">
				<img src="{{ gauge }}" alt="" />
			</div>
		</section>
	</ng-container>

	<ng-container *ngIf="isDistrito">
		<figure class="img">
			<img class="OCM-imgGraph" src="{{ imgURL }}" alt="Foto proyecto" />
		</figure>
	</ng-container>

	<section class="OCM-tableContainer">
		<table class="OCM-tableData">
			<tbody>
				<tr *ngFor="let data of data">
					<ng-container *ngIf="data.value !== '' && (!hasKey(data, 'URL') || (hasKey(data, 'URL') && data.URL !== ''))">
						<td>{{ data.data }}</td>
						<td>{{ data.value }}</td>
						<ng-container *ngIf="hasKey(data, 'URL') && data.URL !== ''">
							<td><a href="{{ data.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
						</ng-container>
					</ng-container>
				</tr>
			</tbody>
		</table>
	</section>

	<ng-container *ngIf="isSubvencion">
		<header class="OCM-subtitle-dark">Seguimiento subvenciones</header>
		<section class="OCM-tableContainer">
			<table class="OCM-tableSeguimientoSubvenciones">
				<thead>
					<tr>
						<th>Subvención</th>
						<th>Observaciones</th>
						<th>Cuantia</th>
						<!-- <th>Completada</th> -->
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let step of stepsSubvencion">
						<td>{{ step.descripcion }}</td>
						<td>{{ step.observaciones }}</td>
						<td>{{ step.cuantia }}</td>
						<!-- <td>{{ step.isFinish }}</td> -->
					</tr>
				</tbody>
			</table>
		</section>
	</ng-container>

	<ng-container *ngIf="hasDocs">
		<header class="OCM-subtitle-dark">Documentos</header>
		<section class="OCM-tableContainer">
			<table class="OCM-tableDocumentos">
				<thead>
					<tr>
						<th>Fechaaaa</th>
						<th>Emisor</th>
						<th>Título</th>
						<th>URL</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let doc of docs">
						<ng-container *ngIf="doc.URL !== ''">
							<td>{{ doc.date }}</td>
							<td>{{ doc.emisor }}</td>
							<td>{{ doc.title }}</td>
							<td><a href="{{ doc.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
						</ng-container>
					</tr>
				</tbody>
			</table>
		</section>
	</ng-container>

	<ng-container *ngIf="hasNews">
		<header class="OCM-subtitle-dark">Noticias</header>
		<section class="OCM-tableContainer">
			<table class="OCM-tableNoticias">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Medio</th>
						<th>Título</th>
						<th>URL</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let new of news">
						<ng-container *ngIf="new.URL !== ''">
							<td>{{ new.date }}</td>
							<td>{{ new.medio }}</td>
							<td>{{ new.title }}</td>
							<td><a href="{{ new.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
						</ng-container>
					</tr>
				</tbody>
			</table>
		</section>
	</ng-container>

	<ng-container *ngIf="hasComs">
		<header class="OCM-subtitle-dark">Comentarios</header>
		<section class="OCM-tableContainer">
			<table class="OCM-tableComentarios">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Emisor</th>
						<th>texto</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let com of coms">
						<td>{{ com.date }}</td>
						<td>{{ com.emisor }}</td>
						<td>{{ com.texto }}</td>
					</tr>
				</tbody>
			</table>
		</section>
	</ng-container>
</main>
