<main class="OCM-dark-teme">
	<header class="OCM-title-dark">{{ descripcion }} usando level-last</header>

	<section class="OCM-tableContainer">
		<table class="OCM-table">
			<tbody>
				<tr *ngFor="let data of data">
					<!-- Solo muestra las filas donde 'data.value' no está vacío y 'data.URL' no es una clave o está vacío -->
					<ng-container
						*ngIf="
							data.value !== '' &&
							(!hasKey(data, 'URL') || (hasKey(data, 'URL') && data.URL !== '')) &&
							data.data !== 'Descripción'
						"
					>
						<td>{{ data.data }}</td>
						<td>{{ data.value }}</td>
						<!-- Solo muestra la columna de enlace cuando 'data.URL' no está vacío -->
						<ng-container *ngIf="hasKey(data, 'URL') && data.URL !== ''">
							<td><a href="{{ data.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
						</ng-container>
					</ng-container>
				</tr>
			</tbody>
		</table>
	</section>

	<section class="OCM-tableContainer">
		<header class="OCM-subtitle-dark">Noticias</header>
		<table class="OCM-table">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Medio</th>
					<th>Título</th>
					<th>URL</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let new of news">
					<ng-container *ngIf="new.URL !== ''">
						<td>{{ new.date }}</td>
						<td>{{ new.medio }}</td>
						<td>{{ new.title }}</td>
						<td><a href="{{ new.URL }}" target="_blank" rel="noopener noreferrer">Enlace</a></td>
					</ng-container>
				</tr>
			</tbody>
		</table>
	</section>
</main>
