<!DOCTYPE html>
<html>
	<head>
		<title>Ficha persona que ocupa el puesto</title>
		<style>
			table {
				width: 100%;
				border-collapse: collapse;
			}
			table,
			th,
			td {
				border: 1px solid black;
			}
			th,
			td {
				padding: 8px;
				text-align: left;
				font-size: 16px;
			}
		</style>
	</head>
	<body>
		<h2 class="OCM-subtitle">Caracteristicas del puesto</h2>
		<table>
			<tr>
				<th>Descripción</th>
				<th>Tipo</th>
				<th>RPT</th>
				<th>Observaciones</th>
			</tr>
			<tr>
				<td>Alcaldia-Presidencia</td>
				<td>Político</td>
				<td>
					<a
						href="https://transparencia.jerez.es/infopublica/institucional/corporacion/2023-2027/maria-jose-garcia-pelayo"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>link</a
					>
				</td>
				<td>Lo que sea</td>
			</tr>
		</table>
		<br />
		<br />

		<h2 class="OCM-subtitle">Personas que han ocupado el puesto</h2>
		<table>
			<tr>
				<th>Periodo</th>
				<th>Persona</th>
				<th>Sueldo</th>
				<th>URL</th>
			</tr>
			<tr>
				<td>2011-2023</td>
				<td>Mamen Sánchez</td>
				<td>72.000</td>
				<td>
					<a
						href="https://transparencia.jerez.es/infopublica/institucional/corporacion/2023-2027/maria-jose-garcia-pelayo"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>Perfil</a
					>
				</td>
			</tr>
			<tr>
				<td>2023-</td>
				<td>Mª Jose Garcia Pelayo</td>
				<td>102.000</td>
				<td>
					<a
						href="https://transparencia.jerez.es/infopublica/institucional/corporacion/2023-2027/maria-jose-garcia-pelayo"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>Perfil</a
					>
				</td>
			</tr>
		</table>
	</body>
</html>
