<!DOCTYPE html>
<html>
	<head>
		<title>Tabla de Información</title>
		<style>
			table {
				width: 100%;
				border-collapse: collapse;
			}
			table,
			th,
			td {
				border: 1px solid black;
			}
			th,
			td {
				padding: 8px;
				text-align: left;
				font-size: 32px;
			}
		</style>
	</head>
	<body>
		<h2>Tabla de Información</h2>

		<table>
			<tr>
				<th></th>
				<th></th>
				<th>Sueldo</th>
				<th>URL</th>
			</tr>
			<tr>
				<td>Alcaldesa</td>
				<td>Mª Jose Garcia Pelayo</td>
				<td>102.000</td>
				<td>
					<a
						href="https://transparencia.jerez.es/infopublica/institucional/corporacion/2023-2027/maria-jose-garcia-pelayo"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>Perfil</a
					>
				</td>
			</tr>
		</table>
	</body>
</html>
