<!DOCTYPE html>
<html>
	<head>
		<title>Ficha persona que ocupa el puesto</title>
		<style>
			table {
				width: 100%;
				border-collapse: collapse;
			}
			table,
			th,
			td {
				border: 1px solid black;
			}
			th,
			td {
				padding: 8px;
				text-align: left;
				font-size: 16px;
			}
		</style>
	</head>
	<body>
		<h2 class="OCM-subtitle">Caracteristicas del puesto</h2>
		<table>
			<tr>
				<th>Denominación</th>
				<th>Tipo</th>
				<th>RPT</th>
				<th>Observaciones</th>
			</tr>
			<tr>
				<td>Alcaldia-Presidencia</td>
				<td>Político</td>
				<td>
					<a
						href="https://transparencia.jerez.es/infopublica/institucional/corporacion/2023-2027/maria-jose-garcia-pelayo"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>link</a
					>
				</td>
				<td>Los puestos políticos no se detallan en la RPT</td>
			</tr>
		</table>

		<section style="font-size: 14px">
			<br />
			Descripción del puesto: diferencias entre puesto y plaza.
			<br />
			Forma de acceso al puesto: oposición, concurso, libre designación, etc.
		</section>

		<br />
		<h2 class="OCM-subtitle">Persona que actualemente ocupa el puesto</h2>
		<table>
			<tr>
				<th>Foto</th>
				<th>Nombre</th>
				<td>WEB Ayto</td>
				<th>CV</th>
				<th>Declaración de bienes</th>
				<th>Contacto publicado</th>
				<th>Otros cargos</th>
			</tr>
			<tr>
				<td>
					<img
						style="border-radius: 50%; width: 100px"
						src="https://transparencia.jerez.es/fileadmin/Documentos/Transparencia/img/fotos/2023-2027/PP/MJoseGarciaPelayo.jpg"
						alt="Mª Jose Garcia Pelayo"
					/>
				</td>

				<td>Mª Jose Garcia Pelayo</td>
				<td>
					<a
						href="https://transparencia.jerez.es/infopublica/institucional/corporacion/2023-2027/maria-jose-garcia-pelayo"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>link</a
					>
				</td>
				<td>Poco detallado</td>
				<td>Poco detallada</td>
				<td>Ninguno</td>
				<td>
					<a
						href="https://www.senado.es/web/composicionorganizacion/senadores/composicionsenado/fichasenador/index.html;jsessionid=LSnLjHNGpSbJBH23J3kBhFwG6n4kw1gJhTz5lwD9Fh0PQjpgB1ps!973582117?id1=15295&legis=14"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>Senadora</a
					>. Presidenta FEMP
				</td>
			</tr>
		</table>
		<br />
		<h1>Grafico de evolución de sueldo</h1>
		<br />

		<h2 class="OCM-subtitle">Personas que han ocupado el puesto</h2>
		<table>
			<tr>
				<th>Periodo</th>
				<th>Persona</th>
				<th>Sueldo</th>
				<th>Detalle sueldo</th>
				<th>Wikipedia</th>
			</tr>
			<tr>
				<td>2023-</td>
				<td>Mª Jose Garcia Pelayo</td>
				<td>102.793,49</td>
				<td>
					<a
						href="https://transparentia.newtral.es/ficha/maria-jose-garcia-pelayo-jurado"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>link</a
					>
				</td>
				<td>
					<a
						href="https://es.wikipedia.org/wiki/Mar%C3%ADa_Jos%C3%A9_Garc%C3%ADa-Pelayo_Jurado"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>link</a
					>
				</td>
			</tr>
			<tr>
				<td>2011-2023</td>
				<td>Mamen Sánchez</td>
				<td>72.000</td>
				<td>
					<a
						href="https://transparencia.jerez.es/infopublica/institucional/corporacion/2023-2027/maria-jose-garcia-pelayo"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>Perfil</a
					>
				</td>
			</tr>
		</table>
	</body>
</html>
