@if (entidad_organizativa) {
	<header class="OCM-subtitle-dark">{{ entidad_organizativa }}</header>
}

<table class="tabla">
	<tr>
		<th>Dirección</th>
	</tr>
	<tr *ngFor="let detalle of eoDirecciones">
		<td>{{ detalle.calle }}</td>
		<td>{{ detalle.numero }}</td>
		<td>{{ detalle.piso }}</td>
		<td>{{ detalle.cp }}</td>
	</tr>
</table>

<div class="tablas-contenedor">
	<table class="tabla">
		<tr>
			<th>Teléfono</th>
			<th>Observaciones</th>
		</tr>
		<tr *ngFor="let detalle of eoTelefonos">
			<td>{{ detalle.telefono }}</td>
			<td>{{ detalle.observaciones }}</td>
		</tr>
	</table>

	<table class="tabla">
		<tr>
			<th>eMail</th>
			<th>Observaciones</th>
		</tr>
		<tr *ngFor="let item of eoMails">
			<td>{{ item.email }}</td>
			<td>{{ item.observaciones }}</td>
		</tr>
	</table>

	<table class="tabla">
		<tr>
			<th>Movil</th>
			<th>Observaciones</th>
		</tr>
		<tr *ngFor="let item of eoMoviles">
			<td>{{ item.movil }}</td>
			<td>{{ item.observaciones }}</td>
		</tr>
	</table>
</div>

<!-- <table>
	<tr>
		<th>Puesto</th>
		<th>Empleado/a</th>
	</tr>
	<tr *ngFor="let item of puestos">
		<td>{{ item.id_puesto }}</td>
		<td>{{ item.nombre }}</td>
	</tr>
</table>

<table>
	<tr>
		<th>Nombre</th>
		<th>1er apellido</th>
		<th>2º apellido</th>
	</tr>
	<tr *ngFor="let item of detallesCompletosDeEmpleados">
		<td>{{ item.id }}</td>
		<td>{{ item.nombre }}</td>
		<td>{{ item.apellido_1 }}</td>
		<td>{{ item.apellido_2 }}</td>
	</tr>
</table> -->

<table class="tabla">
	<tr>
		<th>Puesto</th>
		<th>Empleado/a</th>
		<th>Nombre</th>
		<th>1er apellido</th>
		<th>2º apellido</th>
		<th>Observaciones</th>
	</tr>
	<tr *ngFor="let item of datosCombinados">
		<td>{{ item.id_puesto }}</td>
		<td>{{ item.nombre_puesto }}</td>
		<td>{{ item.id_empleado }}</td>
		<td>{{ item.nombre_empleado }}</td>
		<td>{{ item.apellido1_empleado }}</td>
		<td>{{ item.apellido2_empleado }}</td>
		<td>{{ item.obs_empleado }}</td>
	</tr>
</table>
<div [innerHTML]="descripcion"></div>
<img style="height: 700px; width: 1200px" [src]="image_URL" />
