<div>
    <h4 class="OCM-text--cabecera">Comparativa gastos {{
        messageYears }}</h4>

    <!-- <button type="button" class="btn OCM-btnExpand" (click)="showGraph()">Mostrar gráfico</button> -->
    <!-- <button type="button" *ngIf="hasGraphTree" class="btn OCM-btnExpand" (click)="showGraphTree()">Gráfico
        arbol</button>
    <button type="button" *ngIf="hasProgramaDetails" class="btn OCM-btnExpand" (click)="showProgramaDetails()">Detalle
        programa</button> -->
    <!-- <button type="button" *ngIf="hasEconomicoDetails" class="btn OCM-btnExpand" (click)="showEconomicoDetails()">Detalle
        económico</button> -->

    <button type="button" (click)="showGraph()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Mostrar gráfico</span>
    </button>

    <button type="button" *ngIf="hasGraphTree" (click)="showGraphTree()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Gráfico arbol</span>
    </button>

    <button type="button" *ngIf="hasOrganicoDetails" (click)="showOrganicoDetails()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Detalle orgánico</span>
    </button>

    <button type="button" *ngIf="hasAreaDetails" (click)="showAreaDetails()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Detalle area</span>
    </button>

    <button type="button" *ngIf="hasPoliticaDetails" (click)="showPoliticaDetails()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Detalle política</span>
    </button>

    <button type="button" *ngIf="hasGrupoProgramaDetails" (click)="showGrupoProgramaDetails()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Detalle grupo programas</span>
    </button>

    <button type="button" *ngIf="hasProgramaDetails" (click)="showProgramaDetails()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Detalle programa</span>
    </button>

    <button type="button" *ngIf="hasCapituloDetails" (click)="showCapituloDetails()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Detalle capítulo</span>
    </button>

    <button type="button" *ngIf="hasArticuloDetails" (click)="showArticuloDetails()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Detalle articulo</span>
    </button>

    <button type="button" *ngIf="hasConceptoDetails" (click)="showConceptoDetails()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Detalle concepto</span>
    </button>

    <button type="button" *ngIf="hasEconomicoDetails" (click)="showEconomicoDetails()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Detalle económico</span>
    </button>

    <button type="button" class="btn-54" (click)="volver()">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Volver</span>
    </button>

    <ag-grid-angular #agGrid style="width: 100%; height: 90vh; padding-right: 20px; margin-left: 10px"
        class="ag-theme-balham" [gridOptions]="gridOptions">
    </ag-grid-angular>
</div>