<div>
    <h4 class="OCM-text--cabecera">{{
        avalaibleYearsService.getAvalaibleYear() | async }}</h4>
    <!-- <button type="button" class="btn OCM-btnExpand" (click)="showGraph()">Mostrar gráfico</button> -->
    <!-- <button type="button" *ngIf="hasGraphTree" class="btn OCM-btnExpand" (click)="showGraphTree()">Gráfico
        arbol</button>
    <button type="button" *ngIf="hasProgramaDetails" class="btn OCM-btnExpand" (click)="showProgramaDetails()">Detalle
        programa</button> -->
    <!-- <button type="button" *ngIf="hasEconomicoDetails" class="btn OCM-btnExpand" (click)="showEconomicoDetails()">Detalle
        económico</button> -->

    <button type="button" (click)="showGraph()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Mostrar gráfico</span>
    </button>

    <button type="button" *ngIf="hasGraphTree" (click)="showGraphTree()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Gráfico arbol</span>
    </button>

    <button type="button" *ngIf="hasEconomicoDetails" (click)="showEconomicoDetails()" class="btn-54">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Detalle económico</span>
    </button>

    <ag-grid-angular #agGrid style="width: 100%; height: 90vh; padding-right: 20px; margin-left: 10px"
        class="ag-theme-balham" [gridOptions]="gridOptions">
    </ag-grid-angular>
</div>