<main class="OCM-dark-teme">
	<header class="OCM-subtitle-dark">{{ titulo }}</header>

	<section class="OCM-flex">
		<div *ngFor="let menu of menuOptionsLevel3">
			<app-card-menu [titulo]="menu.titulo" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
		</div>
	</section>

	<!-- <app-data-general *ngIf="isLicitacion" [data]="data" />
	<app-seguimiento-subvencion *ngIf="isSubvencion" [stepsSubvencion]="stepsSubvencion" /> -->
	<app-documentos *ngIf="hasDocs" [docs]="docs" />
	<app-noticias *ngIf="hasNews" [news]="news" />
	<app-comentarios *ngIf="hasComs" [coms]="coms" />
</main>
