<main class="OCM-dark-teme">
	<header class="OCM-subtitle-dark">{{ title }}</header>

	@if (!isComisiones) {
		<section class="OCM-flex">
			@for (menu of menuOptions; track menu) {
				<div>
					<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
				</div>
			}
		</section>
	}
	@if (isComisiones) {
		<header class="OCM-title-dark">Permanentes</header>
		<section class="OCM-flex">
			@for (menu of menuOptions.slice(0, 5); track menu) {
				<div>
					<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
				</div>
			}
		</section>
		<header class="OCM-title-dark">Especiales</header>
		<section class="OCM-flex">
			@for (menu of menuOptions.slice(5, 11); track menu) {
				<div>
					<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
				</div>
			}
		</section>
	}

	<!-- <app-data-general *ngIf="isLicitacion" [data]="data" />
  <app-seguimiento-subvencion *ngIf="isSubvencion" [stepsSubvencion]="stepsSubvencion" /> -->
	@if (hasDocs) {
		<app-documentos [docs]="docs" />
	}
	@if (hasNews) {
		<app-noticias [news]="news" />
	}
	@if (hasComs) {
		<app-comentarios [coms]="coms" />
	}
</main>
