<main class="OCM-dark-teme">
	<header class="OCM-subtitle-dark">{{ title }}</header>

	@if (isComisiones) {
		<header class="OCM-title-dark">Permanentes</header>
		<section class="OCM-gridMenuLevel">
			@for (menu of menuOptions.slice(0, 5); track menu) {
				<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
			}
		</section>
		<header class="OCM-title-dark">Especiales</header>
		<section class="OCM-gridMenuLevel">
			@for (menu of menuOptions.slice(5, 11); track menu) {
				<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
			}
		</section>
	} @else {
		<section class="OCM-gridMenuLevel">
			@for (menu of menuOptions; track menu) {
				<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
			}
		</section>
	}

	@if ([docs]) {
		<app-documentos [docs]="docs" />
	}
	@if ([news]) {
		<app-noticias [news]="news" />
	}
	@if ([coms]) {
		<app-comentarios [coms]="coms" />
	}
</main>
