<!-- https://codepen.io/havardob/pen/BapJYMg -->

<fieldset class="checkbox-group">
    <legend class="checkbox-group-legend">Selecciona años a mostrar</legend>
    <div class="checkbox">
        <label *ngFor="let item of years">
            <input type="checkbox" class="checkbox-input" [(ngModel)]="item.checked" (change)="changeCheckbox(item)" />
            <span class="checkbox-tile">
                <span class="checkbox-label">{{item.year}}</span>
            </span>
        </label>
    </div>
</fieldset>