<div class="container">
    <h2 class="OCM-title">Detalle del presupuesto</h2>

    <div class="selectYear">
        <app-checkbox
            (hasChangeCheckbox)="hasChangeCheckbox()"
            [multiYears]="true"
        ></app-checkbox>
    </div>

    <app-table-presupuesto></app-table-presupuesto>

    <app-tabs (selectedTab)="selectedTab($event)">
        <app-tab tabTitle="Ingresos" [idTab]="1">
            <app-detail-tab [dataTreeMap]="dataTreeMap"></app-detail-tab>
        </app-tab>
        <app-tab tabTitle="¿En qué se gasta?" [idTab]="2">
            <app-detail-tab [dataTreeMap]="dataTreeMap"></app-detail-tab>
        </app-tab>
        <app-tab tabTitle="¿Quién lo gasta?" [idTab]="3">
            <app-detail-tab [dataTreeMap]="dataTreeMap"></app-detail-tab>
        </app-tab>
        <app-tab tabTitle="¿Para qué se gasta?" [idTab]="4">
            <app-detail-tab [dataTreeMap]="dataTreeMap"></app-detail-tab>
        </app-tab>
    </app-tabs>
</div>

<app-clasification-tabs></app-clasification-tabs>
