<div class="container">
    <h2 class="OCM-title">Detalle del presupuesto</h2>

    <div class="selectYear">
        <app-checkbox (hasChangeCheckbox)="hasChangeCheckbox()" [multiYears]="true"></app-checkbox>
    </div>

    <app-table-presupuesto></app-table-presupuesto>
    <app-treemap></app-treemap>

    <ng-container [ngSwitch]="idTab">
        <app-tabs (selectedTab)="selectedTab($event)">
            <app-tab tabTitle="Ingresos" [idTab]="1"></app-tab>
            <ng-container *ngSwitchCase="1">
                <app-table-ingresos
                    [fieldsHide]="[
                        'DerechosReconocidos',
                        'DerechosAnulados',
                        'DerechosCancelados',
                        'DerechosPendienteCobro'
                    ]"
                    [cellRenderer]="false"
                ></app-table-ingresos>
            </ng-container>

            <app-tab tabTitle="¿En qué se gasta?" [idTab]="2"></app-tab>
            <ng-container *ngSwitchCase="2">
                <app-gastos></app-gastos>
            </ng-container>
            <app-tab tabTitle="¿Quién lo gasta?" [idTab]="3"></app-tab>
            <ng-container *ngSwitchCase="3">
                <app-gastos></app-gastos>
            </ng-container>
            <app-tab tabTitle="¿Para qué se gasta?" [idTab]="4"></app-tab>
            <ng-container *ngSwitchCase="4">
                <app-gastos></app-gastos>
            </ng-container>
        </app-tabs>
    </ng-container>
</div>

<!-- <app-clasification-tabs></app-clasification-tabs> -->
