<main class="OCM-dark-teme">
	<h2 class="OCM-title-dark">Licitaciones</h2>

	<section class="OCM-flex OCM-flex--center">
		<button class="OCM-button-container OCM-button" type="button" (click)="appOCM()">App OCM</button>
		<button class="OCM-button-container OCM-button" type="button" (click)="cambiarEstado('todas')">Todas</button>
		<button
			class="OCM-button-container OCM-button"
			[ngClass]="isAyuntamiento ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
			type="button"
			(click)="cambiarEstado('ayuntamiento')"
		>
			Fondos propios del Ayuntamiento
		</button>
		<button
			class="OCM-button-container OCM-button"
			type="button"
			[ngClass]="isCEE ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
			(click)="cambiarEstado('cee')"
		>
			Con subvención CEE
		</button>
		<button
			class="OCM-button-container OCM-button"
			[ngClass]="isGobierno ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
			type="button"
			(click)="cambiarEstado('gobierno')"
		>
			Gobierno de España
		</button>
		<button
			class="OCM-button-container OCM-button"
			[ngClass]="isJunta ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
			type="button"
			(click)="cambiarEstado('junta')"
		>
			Junta de Andalucía
		</button>
		<button
			class="OCM-button-container OCM-button"
			[ngClass]="isDiputacion ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
			type="button"
			(click)="cambiarEstado('diputacion')"
		>
			Diputación Provincial de Cádiz
		</button>
		<button
			class="OCM-button-container OCM-button"
			[ngClass]="isSolares ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
			type="button"
			(click)="cambiarEstado('solares')"
		>
			Subastas Solares y Edificaciones Ruinosas
		</button>
	</section>
	(click)="volver()"

	<section>
		<div class="InputContainer">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="#657789"
				stroke-width="3"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="feather feather-search"
			>
				<circle cx="11" cy="11" r="8" />
				<line x1="21" y1="21" x2="16.65" y2="16.65" />
			</svg>
			<input type="text" [(ngModel)]="searchText" (input)="filterData()" placeholder="Buscar licitaciones..." />
		</div>

		@if (canAddRowSupabase) {
			<button class="OCM-button" (click)="addNew()">Añadir licitación</button>
		}
	</section>

	<section class="reveal-animation">
		@if (isAyuntamiento) {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">Con fondos propios del Ayuntamiento</header>

			<section class="OCM-flex OCM-flex--center">
				<button
					class="OCM-button-container OCM-button"
					[ngClass]="isTodasAyto ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
					type="button"
					(click)="todas('ayto')"
				>
					Todas
				</button>
				<button
					class="OCM-button-container OCM-button"
					[ngClass]="isPendientesAyto ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
					type="button"
					(click)="pendientes('ayto')"
				>
					Pendientes
				</button>
				<button
					class="OCM-button-container OCM-button"
					[ngClass]="isLicitacionesAyto ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
					type="button"
					(click)="licitadas('ayto')"
				>
					Licitadas
				</button>
				<button
					class="OCM-button-container OCM-button"
					[ngClass]="isAdjudicadasAyto ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
					type="button"
					(click)="adjudicadas('ayto')"
				>
					Adjudicadas
				</button>
				<button
					class="OCM-button-container OCM-button"
					[ngClass]="isTerminadasAyto ? 'OCM-button-selected' : 'OCM-button-container OCM-button'"
					type="button"
					(click)="terminadas('ayto')"
				>
					Terminadas
				</button>
			</section>

			<section class="gridMenu">
				@for (menu of licitacionesAyto; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				}
			</section>
		}

		@if (isCEE) {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">Con subvención CEE</header>
			<section class="OCM-flex OCM-flex--center">
				<button class="OCM-button-container OCM-button" type="button" (click)="todas('cee')">Todas</button>
				<button class="OCM-button-container OCM-button" type="button" (click)="pendientes('cee')">Pendientes</button>
				<button class="OCM-button-container OCM-button" type="button" (click)="licitadas('cee')">Licitadas</button>
				<button class="OCM-button-container OCM-button" type="button" (click)="adjudicadas('cee')">Adjudicadas</button>
				<button class="OCM-button-container OCM-button" type="button" (click)="terminadas('cee')">Terminadas</button>
			</section>

			<section class="gridMenu">
				@for (menu of licitacionesCEE; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				}
			</section>
		}

		@if (isDiputacion) {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">Con subvención Diputación Provincial de Cádiz</header>
			<section class="OCM-flex OCM-flex--center">
				<button class="OCM-button-container OCM-button" type="button" (click)="todas('diputacion')">Todas</button>
				<button class="OCM-button-container OCM-button" type="button" (click)="pendientes('diputacion')">
					Pendientes
				</button>
				<button class="OCM-button-container OCM-button" type="button" (click)="licitadas('diputacion')">
					Licitadas
				</button>
				<button class="OCM-button-container OCM-button" type="button" (click)="adjudicadas('diputacion')">
					Adjudicadas
				</button>
				<button class="OCM-button-container OCM-button" type="button" (click)="terminadas('diputacion')">
					Terminadas
				</button>
			</section>
			<section class="gridMenu">
				@for (menu of licitacionesDiputacion; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				}
			</section>
		}

		@if (isGobierno) {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">Con subvención Gobierno de España</header>
			<section class="gridMenu">
				@for (menu of licitacionesESP; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.titulo" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				} @empty {
					<p class="OCM-subtitle-dark s">No hay licitaciones con subvención del Gobierno de España</p>
				}
			</section>
		}

		@if (isJunta) {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">Con subvención Junta de Andalucía</header>
			<section class="gridMenu">
				@for (menu of licitacionesESP; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.titulo" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				} @empty {
					<p class="OCM-subtitle-dark s">No hay licitaciones con subvención de la Junta de Andalucía</p>
				}
			</section>
		}

		@if (isSolares) {
			<header class="OCM-subtitle-dark OCM-subtitle-dark--center">
				Subastas Registro Municipal de Solares y Edificaciones Ruinosas
			</header>
			<section class="OCM-flex OCM-flex--center">
				<button class="OCM-button-container OCM-button" type="button" (click)="todas('solares')">Todas</button>
				<button class="OCM-button-container OCM-button" type="button" (click)="terminadas('solares')">
					Terminadas
				</button>
			</section>
			<section class="gridMenu">
				@for (menu of licitacionesSolares; track menu) {
					<section [class.highlight]="menu.highlighted">
						<app-card-menu [titulo]="menu.title" [rutaImagen]="menu.rutaImagen" (click)="menu.funcion()" />
					</section>
				}
			</section>
		}
	</section>
</main>
