<body style="background-color: #15202b">
	<section *ngIf="positionData" class="OCM-tableContainer">
		<h2 class="OCM-subtitle">Caracteristicas del puesto</h2>
		<table class="tableDataPersona">
			<tr>
				<th>Denominación</th>
				<th>Tipo</th>
				<th>RPT</th>
				<th>Observaciones</th>
			</tr>
			<tr>
				<td>{{ positionData[0].position }}</td>
				<td>{{ positionData[0].type }}</td>
				<td>
					<a href="{{ positionData[0].url }}" target="_blank" rel="nofollow" aria-label="Ayto"> link </a>
				</td>
				<td>{{ positionData[0].obs }}</td>
			</tr>
		</table>
	</section>

	<section *ngIf="employeeData" class="OCM-tableContainer">
		<h2 class="OCM-subtitle">Persona que actualmente ocupa el puesto</h2>
		<table class="tableDataPersona">
			<tr>
				<th>Foto</th>
				<th>Nombre</th>
				<th>Sueldo</th>
				<th>WEB Ayto</th>
				<th>CV</th>
				<th>Declaración de bienes</th>
				<th>Contacto publicado</th>
				<th>LinKedIn</th>
				<th>Wikipedia</th>
			</tr>
			<tr>
				<td>
					<img style="border-radius: 50%; width: 100px" src="{{ employeeData[0].image }}" alt="foto" />
				</td>

				<td>{{ employeeName }}</td>
				<td>
					{{ employeeData[0].salary }}
				</td>
				<td>
					<a href="{{ employeeData[0].ayto_url }}" target="_blank" rel="nofollow" aria-label="Ayto">link</a>
				</td>
				<td>{{ employeeData[0].cv }}</td>
				<td>{{ employeeData[0].assets }}</td>
				<td>{{ employeeData[0].contact }}</td>
				<td>
					<a
						*ngIf="hasEmployeeLinkedin"
						href="{{ employeeData[0].linkedin_url }}"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>link</a
					>
				</td>
				<td>
					<a
						*ngIf="hasEmployeeWikipedia"
						href="{{ employeeData[0].wikipedia_url }}"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>link</a
					>
				</td>
			</tr>
		</table>
	</section>

	<section *ngIf="positionExternalData" class="OCM-tableContainer">
		<h2 class="OCM-subtitle">Cargos que compatibiliza la persona que ocupa el puesto</h2>
		<table class="tableDataPersona">
			<tr>
				<th>Cargo</th>
				<th>Información</th>
				<th>Sueldo</th>
				<th>Observaciones</th>
			</tr>
			<tr>
				<td>{{ positionExternalData[0].position }}</td>
				<td>
					<a href="{{ positionExternalData[0].url }}" target="_blank" rel="nofollow" aria-label="Ayto">Link</a>
				</td>
				<td>
					{{ positionExternalData[0].salary }}
				</td>
				<td>
					{{ positionExternalData[0].obs }}
				</td>
			</tr>
		</table>
	</section>

	<section *ngIf="recordData" class="OCM-tableContainer">
		<h2 class="OCM-subtitle">Personas que han ocupado el puesto</h2>
		<table class="tableDataPersona">
			<tr>
				<th>Foto</th>
				<th>Persona</th>
				<th>Periodo</th>
				<th>Sueldo</th>
				<th>Observaciones</th>
				<th>LinKedIn</th>
				<th>Wikipedia</th>
			</tr>

			<tr>
				<td>
					<img style="border-radius: 50%; width: 100px" src="{{ recordData[0].image }}" alt="foto" />
				</td>
				<td>{{ recordData[0].name }} {{ recordData[0].firstname }} {{ recordData[0].lastname }}</td>
				<td>{{ recordData[0].date }}</td>
				<td>{{ recordData[0].salary }}</td>
				<td>{{ recordData[0].obs }}</td>
				<td>
					<a
						*ngIf="hasRecordLinkedin"
						href="{{ recordData[0].linkedin_url }}"
						target="_blank"
						rel="nofollow"
						aria-label="Ayto"
						>Link</a
					>
				</td>
				<td>
					<a href="{{ recordData[0].wikipedia_url }}" target="_blank" rel="nofollow" aria-label="Ayto">Link</a>
				</td>
			</tr>
		</table>
	</section>
</body>
