<div style="margin-top: 30px">
	<div class="menu">
		<button type="button" class="OCM-button" (click)="volver()">Volver</button>
	</div>

	<h4 class="OCM-text--cabecera">
		Programa
		{{ dataStoreService.selectedCodeRowFirstLevel }}. {{ messageYears }}
	</h4>

	<button *ngIf="!isExpanded" type="button" class="OCM-button" (click)="expandAll()">Expandir todo</button>

	<button *ngIf="isExpanded" type="button" class="OCM-button" (click)="collapseAll()">Colapsar todo</button>

	<button type="button" (click)="showAplicacionPresupuestaria()" class="OCM-button" style="padding: 1.2rem 8.6rem">
		Detalle aplicación presupuestaria
	</button>

	<div class="agGrid">
		<ag-grid-angular
			#agGrid
			*ngIf="gridOptions"
			id="agGrid"
			style="width: 100%; height: 90vh; padding-right: 20px; margin-left: 10px"
			class="ag-theme-balham"
			[gridOptions]="gridOptions"
			(gridReady)="onGridReady($event)"
		>
		</ag-grid-angular>
	</div>
</div>
