.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .datos { grid-area: 1 / 1 / 4 / 2; background-color: chocolate;height: 600px;}
  .graph1 { grid-area: 1 / 2 / 2 / 3;  background-color: chocolate}
  .graph2 { grid-area: 2 / 2 / 4 / 3;  background-color: chocolate}
  .graph3 { grid-area: 3 / 2 / 4 / 3;  background-color: chocolate}
  