<div class="OCM-bar-container">
  <div class="OCM-button-container">
    <button
      type="button"
      class="OCM-button"
      [ngClass]="{ 'OCM-selected': button.selected }"
      *ngFor="let button of buttons"
      (click)="click(button)"
    >
      {{ button.name }}
    </button>
  </div>

  <div class="OCM-button-container" *ngIf="hasRowClicked$ | async">
    <button
      type="button"
      class="OCM-button"
      *ngFor="let button of buttonsAdditional"
      (click)="clickButtonAditional(button)"
    >
      {{ button.name }}
    </button>
  </div>

  <div
    class="OCM-button-container"
    *ngIf="(hasRowClicked$ | async) === null"
    [ngClass]="{ 'OCM-disabled': isDisabled }"
  >
    <button
      type="button"
      class="OCM-button"
      *ngFor="let button of buttonsAdditional"
      (click)="clickButtonAditional(button)"
    >
      {{ 'Al seleccionar fila se activa opción' }}
    </button>
  </div>
</div>
