.flex__cardTable {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	flex-basis: 60%;
	padding: 1em;
	border: 1px solid #fff;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
}

.volver {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 95%;
	border-top: 50px;
}
