<div style="margin-top: 30px">

    <div class="menu">
        <button type="button" class="OCM-button" (click)="volver()">Volver</button>
    </div>

    <h4 style="font-size:20px; text-align: center;">
        {{ dataStoreService.selectedCodeRowFirstLevel }}
        {{ messageYears }}
    </h4>

    <button type="button" class="OCM-button" (click)="showProgramaDetails()">
        Detalle programa
    </button>

    <ag-grid-angular #agGrid style="width: 100%; height: 90vh; padding-right: 20px; margin-left: 10px"
        class="ag-theme-balham" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>