<div>
    <h4 style="font-size:20px; text-align: center;">Programas que gastan del económico {{
        dataStoreService.selectedCodeRowFirstLevel}}
        {{
        avalaibleYearsService.getAvalaibleYear() | async }}</h4>

    <button *ngIf="!isExpanded" type="button" class="OCM-button" (click)="expandAll()">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Expandir todo</span>
    </button>

    <button *ngIf="isExpanded" type="button" class="OCM-button" (click)="collapseAll()">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Colapsar todo</span>
    </button>

    <button type="button" (click)="showProgramaDetails()" class="OCM-button">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Detalle programa</span>
    </button>

    <button type="button" class="OCM-button" onclick="history.back()">
        <span class="shadow"></span>
        <span class="depth"></span>
        <span class="content">Volver</span>
    </button>

    <ag-grid-angular #agGrid style="width: 100%; height: 90vh; padding-right: 20px; margin-left: 10px"
        class="ag-theme-balham" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>