<div class="menu">
	<button type="button" class="OCM-button" (click)="volver()">Volver</button>
</div>

<div *ngIf="showButtomExpanded">
	<button *ngIf="!isExpanded && buttonExpandirColapsar" type="button" class="OCM-button" (click)="expandAll()">
		Expandir todo
	</button>
	<button *ngIf="isExpanded && !hasAppPresupuestaria" type="button" class="OCM-button" (click)="collapseAll()">
		Colapsar todo
	</button>
</div>

<!-- *ngIf="(hasRowClicked$ | async) === null && !hasAppPresupuestaria" -->
<button type="button" (click)="_clicKButton()" class="OCM-button" style="padding: 1.2rem 8.6rem; margin-top: 10px">
	{{ titleButtom }}
</button>
