<h1 style="font-size: 32px; font-weight: bold; text-align: center">{{ programa }}</h1>
<div id="chart-capitulosGastos"></div>

<div class="button-group">
	<button
		*ngFor="let capitulo of capitulos"
		type="button"
		class="button"
		(click)="changeGraph(capitulo.codigo)"
		[ngClass]="{ active: capitulo.codigo === activeButton }"
	>
		Capítulo {{ capitulo.codigo }} {{ capitulo.descripcion }}
	</button>
</div>

<div class="container">
	<!-- <div [ngSwitch]="currentGraph"> -->
	<div id="graph"></div>
	<!-- <div *ngSwitchCase="2" id="graph2"></div>
		<div *ngSwitchCase="3" id="graph3"></div>
		<div *ngSwitchCase="4" id="graph4"></div>
		<div *ngSwitchCase="5" id="graph5"></div>
		<div *ngSwitchCase="6" id="graph6"></div>
		<div *ngSwitchCase="7" id="graph7"></div>
		<div *ngSwitchCase="8" id="graph8"></div>
		<div *ngSwitchCase="9" id="graph9"></div> -->
	<!-- </div> -->

	<!-- <div class="graph" [ngSwitch]="currentGraph">
		<div *ngSwitchCase="1">capitulo 1</div>
		<div *ngSwitchCase="2">Capitulo 2</div> -->
	<!-- Añade más gráficos aquí si los necesitas -->
	<!-- </div> -->
</div>
