<div class="tab-wrap" style="background-color: #d6a2a2; padding-top: 20px">
    <input
        type="radio"
        id="tab1"
        name="tabGroup1"
        class="tab"
        [checked]="showIngresos"
        (change)="checkedTab($event)"
    />
    <label for="tab1">Ingresos</label>

    <input
        type="radio"
        id="tab2"
        name="tabGroup1"
        class="tab"
        [checked]="showPrograma"
        (change)="checkedTab($event)"
    />
    <label for="tab2">¿En qué se gasta?</label>

    <input
        type="radio"
        id="tab3"
        name="tabGroup1"
        class="tab"
        [checked]="showOrganico"
        (change)="checkedTab($event)"
    />
    <label for="tab3">¿Quién lo gasta?</label>

    <input
        type="radio"
        id="tab4"
        name="tabGroup1"
        class="tab"
        [checked]="showEconomica"
        (change)="checkedTab($event)"
    />
    <label for="tab4">¿Para qué se gasta?</label>

    <!-- <app-bar-clasification-tabs
        [showEconomica]="showEconomica"
        [showIngresos]="showIngresos"
        [showOrganico]="showOrganico"
        [showPrograma]="showPrograma"
        (checkedTab)="checkedTab($event)"
    ></app-bar-clasification-tabs> -->

    <!-- Tab Ingresos -->
    <div class="tab__content">
        <div
            *ngIf="showGraphInTab"
            style="background-color: rgb(137, 177, 96)"
            class="radioButtonsGroup"
        >
            <div class="radio">
                <input
                    id="radio-1"
                    name="radio"
                    type="radio"
                    checked
                    (change)="checkedRadio($event)"
                />
                <label for="radio-1" class="radio-label">Presupuestado</label>
            </div>

            <div class="radio">
                <input
                    id="radio-2"
                    name="radio"
                    type="radio"
                    (change)="checkedRadio($event)"
                />
                <label for="radio-2" class="radio-label">Recaudado</label>
            </div>

            <div class="radio">
                <input
                    id="radio-3"
                    name="radio"
                    type="radio"
                    (change)="checkedRadio($event)"
                />
                <label for="radio-3" class="radio-label">Diferencia</label>
            </div>
        </div>

        <div *ngIf="showGraphInTab" id="treemap1" class="treemap"></div>

        <div class="agGridContainer">
            <app-table-ingresos
                *ngIf="showIngresos"
                [fieldsHide]="[
                    'DerechosReconocidos',
                    'DerechosAnulados',
                    'DerechosCancelados',
                    'DerechosPendienteCobro'
                ]"
                [cellRenderer]="false"
            >
            </app-table-ingresos>
        </div>
    </div>

    <!-- Tab ¿En qué se gasta? Clasificacion económica -->
    <div class="tab__content">
        <div *ngIf="showGraphInTab" id="treemap2" class="treemap"></div>
        <app-gastos *ngIf="showPrograma"></app-gastos>
    </div>

    <!-- Tab ¿Quién lo gasta?  -->
    <div class="tab__content">
        <div *ngIf="showGraphInTab" id="treemap3" class="treemap"></div>
        <app-gastos *ngIf="showOrganico"></app-gastos>
    </div>

    <!-- Tab ¿Para qué gasta?  -->
    <div class="tab__content">
        <div *ngIf="showGraphInTab" id="treemap4" class="treemap"></div>
        <app-gastos *ngIf="showEconomica"></app-gastos>
    </div>
</div>
