<div class="OCM-bar-container">
	<div class="OCM-button-container">
		<button
			type="button"
			class="OCM-button"
			[ngClass]="{ 'OCM-selected': subtab.selected }"
			*ngFor="let subtab of subtabs"
			(click)="clickSubtab(subtab)"
		>
			{{ subtab.name }}
		</button>
	</div>

	<div class="OCM-button-container" *ngIf="hasRowClicked$ | async">
		<button
			type="button"
			class="OCM-button"
			*ngFor="let subtabAdditional of subtabsAdditional"
			(click)="clickSubtabAditional(subtabAdditional)"
		>
			{{ subtabAdditional.name }}
		</button>
	</div>

	<div
		class="OCM-button-container"
		*ngIf="(hasRowClicked$ | async) === null"
		[ngClass]="{ 'OCM-disabled': isDisabled }"
	>
		<button
			type="button"
			class="OCM-button"
			*ngFor="let subtabAdditional of subtabsAdditional"
			(click)="clickSubtabAditional(subtabAdditional)"
		>
			{{ 'Al seleccionar fila se activa opción' }}
		</button>
	</div>
</div>
