@import '/src/styles/mixins';
@import '/src/styles/variables';

@media screen and (max-width: 4200px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: map-get($OCM-colors, navBarBackground);
		height: 50px;
		caret-color: transparent;
		&__logo {
			background: url('#{$imgPath}/logoOCM.png');
			height: 40px;
			width: 184px;
			margin-left: 20px;
			background-size: cover;
		}
		&__title {
			@include OCM-text;
			font-size: clamp(0.667rem, 2vw + 0.25rem, 2.583rem);
		}
		&__home {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			cursor: pointer;
		}
		&__logoHome {
			@include OCM-logo;
			background: url('#{$imgPath}/home.svg') no-repeat center center;
			margin-right: 20px;
		}
		&__logoVolver {
			@include OCM-logo;
			background: url('#{$imgPath}/back.svg') no-repeat center center;
		}
	}
}

button {
	color: #090909;
	border-radius: 0.5em;
	padding: 0.7em;
	font-size: 12px;
	background: #e8e8e8;
	border: 1px solid #110101;
	font-family: var(--fuente-principal);
	cursor: pointer;
}

@media screen and (max-width: 570px) {
	.navbar {
		&__logo {
			height: 25px;
			width: 90px;
			margin-left: 6px;
		}
	}
}
