@import "/src/app/scss/animations";
@import "/src/app/scss/base";
@import "/src/app/scss/functions";
@import "/src/app/scss/mixins";
@import "/src/app/scss/typography";
@import "/src/app/scss/utilities";
@import "/src/app/scss/variables";

.OCM-navbar {
    a {
        text-decoration: none;
        color: white;
    }
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    height: 150px;
    background-color: map-get($OCM-colors, navBarBackground);
    &--brand {
        display: flex;
        justify-content: space-between;
        &--logo {
            @include OCM-logo;
            background: url("../../../assets/img/logoOCMyellow.svg") no-repeat center center;
        }
        &--text {
            @include OCM-text;
            font-size: 12px;
        }
    }
    &--title {
        @include OCM-text;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
    }
    &--homeEmpty {
        display: flex;
        flex-direction: row;
        width: 246px;
    }
    &--home {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 246px;
        .OCM-logoHome {
            @include OCM-logo;
            background: url("../../..//assets/img/home.svg") no-repeat center center;
            margin-right: 20px;
        }
    }
}

.OCM-barraBuscar {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    height: 80px;
    background-color: #cce3f9;
    gap: 20px;
    // margin-top: 20px;
    background: #e7f2fc;
    height: 50px;
}

.OCM-buttonBuscar {
    padding: 10px;
    border: unset;
    // border-radius: 15px;
    height: 40px;
    margin: 10px;
    color: white;
    z-index: 1;
    background: #2612e2;
    position: relative;
    font-weight: 500;
    font-size: 17px;
}

input[type="text"],
select {
    width: 420px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.OCM-navbarButton {
    padding: 10px;
    border: unset;
    // border-radius: 15px;
    height: 40px;
    margin: 10px;
    color: rgb(143, 135, 135);
    // z-index: 1;
    background: white;
    // position: relative;
    font-weight: 600;
    font-size: 20px;
    cursor: grab;
    // -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    // box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    // transition: all 250ms;
    // overflow: hidden;
    &:hover {
        transform: scale(1.2);
        color: black;
    }
}
