@import '/src/app/scss/mixins';
@import '/src/app/scss/variables';

@media screen and (max-width: 3399.98px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: map-get($OCM-colors, navBarBackground);
		height: 50px;
		caret-color: transparent;
		&__logo {
			background: url('#{$imgPath}/logoOCM.png');
			height: 40px;
			width: 184px;
			margin-left: 20px;
		}
		&__title {
			@include OCM-text;
			font-size: clamp(1.5rem, 5vw, 2.5rem);
		}
		&__home {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			cursor: pointer;
		}
		&__logoHome {
			@include OCM-logo;
			background: url('#{$imgPath}/home.svg') no-repeat center center;
			margin-right: 20px;
		}
		&__logoVolver {
			@include OCM-logo;
			background: url('#{$imgPath}/back.svg') no-repeat center center;
		}
	}
}

@media screen and (max-width: 575.98px) {
	.navbar {
		height: 67px;
		&__1row {
			width: 88%;
		}
		&__logo {
			background: url('#{$imgPath}/logoOCM.png');
			height: 40px;
			width: 84px;
			margin-left: 20px;
		}
		&__title {
			@include OCM-text;
			font-size: clamp(1.2rem, 3vw, 3.5rem);
		}
	}
}
