<nav class="OCM-navbarFooter">

  <div class="OCM-navbarFooter--brand">
    <a href="https://ocmjerez.org" class="OCM-navbarFooter--brand--logo" target="_blank" rel="nofollow"></a>
    <span class="OCM-navbarFooter--brand--text">Observatorio Ciudadano Municipal de Jerez</span>
  </div>

  <div class="OCM-navbarFooter--title">Datos presupuestos Ayuntamiento</div>

  <div *ngIf="router.url === '/homeNew'" class="OCM-navbarFooter--homeEmpty"></div>
  <div *ngIf="router.url !== '/homeNew'" class="OCM-navbarFooter--home">
    <a routerLink="/" class="OCM-logoHome"></a>
  </div>

  <div class="nav">
    <button type="button" (click)="visionGlobal()" class="OCM-navbarButton">Visión global</button>
    <button type="button" (click)="detallePresupuesto()" class="OCM-navbarButton">Detalle del presupuesto</button>
    <button type="button" (click)="licitaciones()" class="OCM-navbarButton">Licitaciones</button>
    <button type="button" (click)="explicamos()" class="OCM-navbarButton">Te lo explicamos</button>
    <button type="button" (click)="glosario()" class="OCM-navbarButton">¿Qué significa...?</button>
  </div>

  <div class="OCM-barraBuscar">
    <div>
      <span class="OCM-subtitle">¿Buscas algo en concreto? </span>
    </div>

    <div>
      <input type="text" id="searchText" name="searchText" placeholder="Escribe aquí tu termino de busqueda">
    </div>

    <div>
      <button type="button" (click)="glosario()" class="OCM-buttonBuscar">Buscar </button>
    </div>
  </div>

</nav>