<nav class="navbar">

  <div class="navbar--1row">
    <div class="navbar--1row--brand">
      <a href="https://ocmjerez.org" class="navbar--1row--brand--logo" target="_blank" rel="nofollow"></a>
      <span class="navbar--1row--brand--text">Observatorio Ciudadano Municipal de Jerez</span>
    </div>

    <div class="navbar--1row--title">Datos presupuestos Ayuntamiento Jerez</div>

    <div *ngIf="router.url === '/homeNew'" class="navbar--1row--homeEmpty"></div>
    <div *ngIf="router.url !== '/homeNew'" class="navbar--1row--home">
      <a routerLink="/" class="navbar--1row--home--logoHome"></a>
    </div>
  </div>

  <div class="navMenu">
    <button type="button" (click)="inicio()" class="navMenuButton">Inicio</button>
    <button type="button" (click)="visionGlobal()" class="navMenuButton">Visión global</button>
    <button type="button" (click)="detallePresupuesto()" class="navMenuButton">Detalle del presupuesto</button>
    <button type="button" (click)="licitaciones()" class="navMenuButton">Licitaciones</button>
    <button type="button" (click)="explicamos()" class="navMenuButton">Te lo explicamos</button>
    <button type="button" (click)="glosario()" class="navMenuButton">¿Qué significa...?</button>
  </div>

  <div class="barraBuscar">
    <div>
      <span class="barraBuscar--text">¿Buscas algo en concreto? </span>
    </div>

    <div>
      <input type="text" id="searchText" name="searchText" placeholder="Escribe aquí tu termino de busqueda">
    </div>

    <div>
      <button type="button" (click)="glosario()" class="buttonBuscar">Buscar </button>
    </div>
  </div>

</nav>