<div class="OCM-footer">

  <div class="OCM-OCM-footer--brand">
    <a href="https://ocmjerez.org" class="OCM-footer--brand--logo" target="_blank" rel="nofollow"></a>
    <span class="OCM-footer--brand--text">OCM Jerez. Ver 1.10.1</span>
  </div>

  <div class="OCM-footer--rrss">
    <a href="https://facebook.com/OcmJerez/" class="OCM-logoFacebook" target="_blank" rel="nofollow"></a>
    <a href="https://twitter.com/ocmjerez" class="OCM-logoTwitter" target="_blank" rel="nofollow"></a>
  </div>

  <div class="OCM-footer--mail">
    <span>Email:&nbsp; </span>
    <a href="mailto:info@ocmjerez.org"> info@ocmjerez.org</a>
  </div>

</div>