<div class="footer">
    <div class="footer--text">
        <span>Ver 1.03.25</span>
    </div>

    <div class="footer--rrss">
        <a
            href="https://facebook.com/OcmJerez/"
            class="logoFacebook"
            target="_blank"
            rel="nofollow"
        ></a>
        <a
            href="https://twitter.com/ocmjerez"
            class="logoTwitter"
            target="_blank"
            rel="nofollow"
        ></a>
    </div>

    <div class="footer--mail">
        <span>Email:&nbsp; </span>
        <a href="mailto:info@ocmjerez.org"> info@ocmjerez.org</a>
    </div>
</div>
