@import "/src/app/scss/animations";
@import "/src/app/scss/base";
@import "/src/app/scss/functions";
@import "/src/app/scss/mixins";
@import "/src/app/scss/typography";
@import "/src/app/scss/utilities";
@import "/src/app/scss/variables";

// https://javascript.plainenglish.io/5-steps-to-adding-a-sticky-footer-to-your-angular-11-application-6c185c2ed99f
.OCM-footer {
    a {
        text-decoration: none;
        color: white;
    }
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    height: 50px;
    background-color: map-get($OCM-colors, navBarBackground);
    &--brand {
        display: flex;
        justify-content: space-between;
        &--logo {
            @include OCM-logo;
            background: url("../../../assets/img/logoOCMyellow.svg") no-repeat center center;
        }
        &--text {
            @include OCM-text;
            font-size: 12px;
        }
    }
    &--title {
        @include OCM-text;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
    }
    &--rrss {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .OCM-logoFacebook {
            @include OCM-logo;
            background: url("../../../assets/img/facebook.svg") no-repeat center center;
        }
        .OCM-logoTwitter {
            @include OCM-logo;
            background: url("../../../assets/img/twitter.svg") no-repeat center center;
        }
    }
    &--mail {
        @include OCM-text;
        text-decoration-style: none;
        margin-right: 20px;
        a:hover {
            transform: scale(1.2);
        }
    }
}

@media screen and (max-width: 844px) {
    .OCM-footer {
        display: none;
    }
}
