<div class="footer">

  <div class="footer--brand">
    <a href="https://ocmjerez.org" class="footer--brand--logo" target="_blank" rel="nofollow"></a>
    <span class="footer--brand--text">OCM Jerez. Ver 1.02.11</span>
  </div>

  <div class="footer--rrss">
    <a href="https://facebook.com/OcmJerez/" class="logoFacebook" target="_blank" rel="nofollow"></a>
    <a href="https://twitter.com/ocmjerez" class="logoTwitter" target="_blank" rel="nofollow"></a>
  </div>

  <div class="footer--mail">
    <span>Email:&nbsp; </span>
    <a href="mailto:info@ocmjerez.org"> info@ocmjerez.org</a>
  </div>

</div>