// Mis parciales.
// https://www.udemy.com/course/advanced-css-and-scss/learn/lecture/8274478#overview
@import "/src/app/scss/animations";
@import "/src/app/scss/base";
@import "/src/app/scss/functions";
@import "/src/app/scss/mixins";
@import "/src/app/scss/typography";
@import "/src/app/scss/utilities";
@import "/src/app/scss/variables";

@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/legacy/ag-theme-balham-v22-compat.scss";

// #region OCM

// .app-footer {
//   background-color: #d31f1f;
//   height: 80px;
// }

.OCM-app-root {
  display: flex;
  flex-direction: column;
  // width: min(100%, 1400px);
  height: 950px;
}

.OCM-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100 hw;
  color: black;
  font-weight: 700;
  font-family: var(--fuente-principal);
  font-size: clamp(3rem, 4rem, 5rem);
  text-align: center;
  margin-bottom: 10px;
}

.OCM-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100 hw;
  color: black;
  font-weight: 600;
  font-family: var(--fuente-principal);
  font-size: clamp(1.5rem, 2rem, 2.5rem);
  text-align: center;
  margin-top: 10px;
}

.OCM-alert {
  background-color: #d31f1f;
  border-color: #1b0408;
  color: #f4ecec;
  margin-bottom: 20px;
  padding: 0px 15px 0px 15px;
  border: 1px solid #1b0408;
  border-radius: 4px;
  z-index: 2;
  position: fixed;
  max-width: 500px;
  top: 85px;
  left: 150px;
}

.flex-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center;
  width: 1280;
  height: 950px;
  background-color: #cce3f9;
  gap: 20px;
  margin-top: 20px;
}

.OCM-text {
  &--cabecera {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
    margin-top: 1rem;
    color: rgb(14, 1, 1);
    font-family: var(--fuente-principal);
    // https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    // font-size: clamp(0.2rem, -0.875rem + 8.333vw, 3.5rem);
    // text-shadow: 0.4rem 0.4rem 0.4rem #aaa;
    text-align: center;
  }
  &--subtitulo {
    text-align: center;
    font-size: clamp(1rem, -0.875rem + 8.333vw, 1.5rem);
  }

  &--años {
    color: map-get($OCM-colors, claro);
    margin-bottom: 0.2rem;
  }

  &--ingresos {
    color: map-get($OCM-colors, claro);
  }

  &--gastos {
    color: map-get($OCM-colors, claro);
  }

  &--comparativas {
    color: map-get($OCM-colors, claro);
  }
}

.OCM-btnExpand {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
  color: aliceblue;
  background-color: green;
  cursor: pointer;
  &:hover {
    transform: translateY(-13px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}

.OCM-btnCollapse {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
  color: aliceblue;
  background-color: rgb(201, 72, 72);
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}

.OCM-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// #endregion
/******** END  OCM *****************/

// #region Button from https://ui-buttons.web.app/
.btn-54,
.btn-54 *,
.btn-54 :after,
.btn-54 :before,
.btn-54:after,
.btn-54:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-54 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 4px;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-54:disabled {
  cursor: default;
}
.btn-54:-moz-focusring {
  outline: auto;
}
.btn-54 svg {
  display: block;
  vertical-align: middle;
}
.btn-54 [hidden] {
  display: none;
}
.btn-54 {
  box-sizing: border-box;
  border-radius: 4px;
  // display: block;
  font-weight: 900;
  padding: 1.2rem 6rem;
  position: relative;
  // text-transform: uppercase;
  background: none;
}
.btn-54 .content,
.btn-54 .depth,
.btn-54 .shadow {
  transition: transform 0.1s;
}
.btn-54 .content {
  background: rgb(9, 126, 23);
  color: rgb(249, 246, 246);
  display: grid;
  height: 84%;
  left: 0;
  place-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-54 .depth {
  background: #ccc;
  height: 10%;
  top: 84%;
}
.btn-54 .depth,
.btn-54 .shadow {
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
}
.btn-54 .shadow {
  background: #777;
  height: 6%;
  top: 94%;
}
.btn-54:hover .content {
  transform: translateY(4%);
}
.btn-54:hover .shadow {
  transform: translateY(-20%);
}
.btn-54:active .content {
  transform: translateY(28%);
}
.btn-54:active .shadow {
  transform: translateY(-30%);
}
// #endregion
/******** END Button  from https://ui-buttons.web.app/ *****************/

// #region @media screen
@media screen and (max-width: 6000px) {
  .ag-cell-value {
    font-size: 12px;
  }

  #home {
    font-size: 16px;
  }

  #OCM-logo {
    margin-top: 2px;
    width: 40px;
    height: 40px;
  }

  .OCM-textoLogo {
    margin-left: 2px;
    font-size: 12px;
  }

  .OCM-titulo {
    font-weight: 700 !important;
    font-size: 28px;
  }
}

@media screen and (max-width: 2000px) {
  .ag-header-cell-text {
    font-size: 12px;
  }

  .ag-cell-value {
    font-size: 12px;
  }

  #home {
    font-size: 14px;
  }

  #OCM-logo {
    margin-top: 2px;
    width: 40px;
    height: 40px;
  }

  .OCM-textoLogo {
    margin-left: 2px;
    font-size: 12px;
  }

  .OCM-titulo {
    font-weight: 700 !important;
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .ag-header-cell-text {
    font-size: 10px;
  }

  .ag-cell-value {
    font-size: 12px;
  }

  #home {
    font-size: 14px;
  }

  #OCM-logo {
    margin-top: 2px;
    width: 40px;
    height: 40px;
  }

  .OCM-textoLogo {
    margin-left: 2px;
    font-size: 10px;
  }

  .OCM-titulo {
    font-weight: 700 !important;
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  // MD Samsung Note apaisado
  .ag-header-cell-text {
    font-size: 12px;
  }

  .ag-cell-value {
    font-size: 10px;
  }

  #home {
    font-size: 12px;
  }

  #OCM-logo {
    margin-top: 2px;
    width: 40px;
    height: 40px;
  }

  .OCM-textoLogo {
    margin-left: 1px;
    font-size: 8px;
  }

  .OCM-titulo {
    font-weight: 600 !important;
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  .ag-header-cell-text {
    font-size: 9px;
  }

  .ag-cell-value {
    font-size: 8px;
  }

  #home {
    font-size: 10px;
  }

  #OCM-logo {
    margin-top: 2px;
    width: 40px;
    height: 40px;
  }

  .OCM-textoLogo {
    margin-left: 2px;
    font-size: 8px;
  }

  .OCM-titulo {
    font-weight: 500 !important;
    font-size: 10px;
  }
}

@media screen and (max-width: 576px) {
  .ag-header-cell-text {
    font-size: 9px;
  }

  .ag-cell-value {
    font-size: 5px;
  }

  .OCM-home {
    font-size: 16px;
    color: white;
    margin-right: 40px;
  }

  #home {
    font-size: 8px;
  }

  #OCM-logo {
    margin-top: 2px;
    width: 20px;
    height: 20px;
  }

  .OCM-textoLogo {
    margin-left: 2px;
    font-size: 6px;
  }

  .OCM-titulo {
    font-weight: 400 !important;
    font-size: 10px;
  }
}

// #endregion
/******** END  @media screen *****************/

// #endregion
/******** END Mis cosas *****************/

// #region AG-Grid
.ag-header-group-cell {
  font-size: 20px;
  color: green;
}

.ag-header-cell {
  width: 20px;
  // transform: rotate(90deg);
  // margin-top: 10px;
  /*Since we are rotating a span*/
  display: inline-block;
}

// Sobreescribe lo definido en  /node_modules\ag-grid-community\src\styles\ag-grid.scss :365
// .ag-header-cell-label {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   color: green;
//   font-family: Arial;
//   font-size: 14px;
//   font-weight: bold;
//   /*Necessary to allow for text to grow vertically*/
//   height: 100%;
//   padding:0 !important;
// }

.ag-header-cell-label .ag-header-cell-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: green;
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;
  /*Necessary to allow for text to grow vertically*/
  height: 100%;
  padding: 0 !important;
}

.ag-cell-label-container {
  /*Necessary to allow for text to grow vertically*/
  height: 100%;
}

.ag-pivot-off {
  color: #8a6d3b;
}

.ag-pivot-on {
  color: #1b6d85;
  font-weight: bold;
}

.ag-pivot-off {
  font-size: 50px;
  color: red;
}

.ag-pivot-on {
  font-size: 25px;
  color: green;
}
.ag-floating-filter-body input {
  height: 49px;
}

.ag-floating-filter-button {
  margin-top: -49px;
}

.ag-floating-filter-button button {
  height: 49px;
}

.ag-floating-filter-body input {
  font-size: 15px;
  font-weight: bold;
}

.ag-row-group-leaf-indent > .ag-group-value {
  text-align-last: right;
  width: 100%;
}

.ag-cell-value {
  // overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
// #endregion
/******** END ag-grid *****************/
