@import '/src/app/scss/base';
@import '/src/app/scss/variables';
@import '/src/app/scss/functions';
@import '/src/app/scss/animations';
@import '/src/app/scss/mixins';
@import '/src/app/scss/typography';
@import '/src/app/scss/utilities';

@media screen and (max-width: 4200px) {
	.legal {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		background-color: #15202b;
	}

	.gridMenu {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 31% 31% 31%;
		gap: 20px 20px;
		padding: 20px;
		background-color: #15202b;
	}
}

@media screen and (max-width: 1060px) {
	.gridMenu {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 20% 20% 20% 20%;
	}
}

@media screen and (max-width: 700px) {
	.gridMenu {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 15% 15% 15% 15% 15% 15%;
	}
}

@media screen and (max-width: 570x) {
}
