<div class="legal">
	<h1 class="OCM-subtitle-dark">
		Se recoge la información requerida por la Ley 1/2014, de 24 de junio, de Transparencia Pública de Andalucía
	</h1>

	<a
		href="https://www.boe.es/buscar/pdf/2014/BOE-A-2014-7534-consolidado.pdf"
		target="_blank"
		rel="nofollow"
		aria-label="Sitio WEB de OCM Jerez"
		>enlace</a
	>
</div>

<div class="flex">
	<div *ngFor="let menu of menuOptionsHome">
		<app-card-menu [rutaImagen]="menu.rutaImagen" [titulo]="menu.titulo" (click)="menu.funcion()" />
	</div>
</div>
